In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [3]:
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [5]:
df.year.describe()

count    3387.000000
mean     2013.958075
std         2.478141
min      2010.000000
25%      2012.000000
50%      2014.000000
75%      2016.000000
max      2018.000000
Name: year, dtype: float64

In [6]:
df2 = pd.read_csv('zippedData/imdb.name.basics.csv.gz')
df2.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [7]:
person_code_dict = dict(zip(df2.nconst, df2.primary_name))
person_code_dict
#created a dictionary with name codes as keys and given name as values

{'nm0061671': 'Mary Ellen Bauder',
 'nm0061865': 'Joseph Bauer',
 'nm0062070': 'Bruce Baum',
 'nm0062195': 'Axel Baumann',
 'nm0062798': 'Pete Baxter',
 'nm0062879': 'Ruel S. Bayani',
 'nm0063198': 'Bayou',
 'nm0063432': 'Stevie Be-Zet',
 'nm0063618': 'Jeff Beal',
 'nm0063750': 'Lindsay Beamish',
 'nm0064023': 'Bryan Beasley',
 'nm0064350': 'Martine Beauchemin',
 'nm0065847': 'Michael Frost Beckner',
 'nm0065919': 'Will Becton',
 'nm0066093': 'Ahmad Bedair',
 'nm0066163': 'Arnaud Bedouët',
 'nm0066268': 'Steve Mitchell Beebe',
 'nm0066897': 'Mohammad-Ali Behboudi',
 'nm0067234': 'Hans Beimler',
 'nm0067845': 'Sondos Belhassen',
 'nm0067983': 'Krunoslav Belko',
 'nm0068170': 'Dylan Bell',
 'nm0068657': 'Philippe Bellaiche',
 'nm0068874': 'Hava Kohav Beller',
 'nm0069131': 'Gregg Bello',
 'nm0069225': 'Gavin Bellour',
 'nm0069605': 'Bruno Beltramini',
 'nm0069757': 'Olga Belyavskaya',
 'nm0069990': 'Jorge Ben Jor',
 'nm0070216': 'John Paul Fedele',
 'nm0070482': 'Joel Bender',
 'nm0070822': 'Terry Benedict',
 'nm0071116': 'Valérie Benguigui',
 'nm0072456': 'Chris Benson',
 'nm0072476': 'Doug Benson',
 'nm0073061': 'Roberto Benvenuti',
 'nm0073146': 'Gina Lola Benzina',
 'nm0073381': 'Roxana Berco',
 'nm0073426': 'Laxmikant Berde',
 'nm0074009': 'Richard Berge',
 'nm0074445': 'Jean-François Bergeron',
 'nm0075049': 'Urban Bergsten',
 'nm0075666': 'Joe Berlinger',
 'nm0076139': 'Andrée Bernard',
 'nm0076559': 'Carlos Bernases',
 'nm0077024': 'Daniel Bernstein',
 'nm0077067': 'Jamie Bernstein',
 'nm0080566': 'Martín Bianchedi',
 'nm0080787': 'Dusty Bias',
 'nm0081060': 'Grace Cary Bickley',
 'nm0081133': 'Adrienne Biddle',
 'nm0081255': 'Andreas Bieber',
 'nm0081516': 'Ric Esther Bienstock',
 'nm0081702': 'Claudio Bigagli',
 'nm0081735': 'Andrew Bigelow',
 'nm0082112': 'Jay Bilas',
 'nm0082154': 'Miro Bilbrough',
 'nm0082302': 'Billa',
 'nm0082740': 'Shirin Bina',
 'nm0083119': 'Avi Benjamin',
 'nm0083271': 'Leila Birch',
 'nm0083605': 'David Birkin',
 'nm0083767': 'Fernando Birri',
 'nm0083851': 'Sam Bisbee',
 'nm0085193': 'Bill Black',
 'nm0085316': 'James Black',
 'nm0086051': 'Bob Blagden',
 'nm0086205': 'Bre Blair',
 'nm0086611': 'Julia Blake',
 'nm0086850': 'G. Robert Blakey',
 'nm0087103': 'Saga Blanchard',
 'nm0087190': 'Maurice Blanchot',
 'nm0087222': 'Alejandro Blanco Uribe',
 'nm0087450': 'Mark Blaney',
 'nm0087595': 'Jamie Blanks',
 'nm0087913': 'Jean Blaute',
 'nm0087933': 'Jacek Blawut',
 'nm0088098': 'Jonah Blechman',
 'nm0088531': 'Ryan Bliss',
 'nm0088888': 'Eric Blom',
 'nm0088949': 'Lars Blomgren',
 'nm0089850': 'Lars Blumers',
 'nm0089896': 'Colin Blunstone',
 'nm0090420': 'Alexander Boboschewski',
 'nm0090847': 'Roberto Bodegas',
 'nm0091773': 'Holt Boggs',
 'nm0092307': 'Nicolas de Boiscuillé',
 'nm0092526': 'David Christopher Loya',
 'nm0093109': 'Don Bolles',
 'nm0093174': 'Ryan Bollman',
 'nm0093284': 'Aleksandr Bokovikov',
 'nm0093589': 'Matt Bomer',
 'nm0093674': 'Arcangelo Bonaccorso',
 'nm0094438': 'Tae-gyu Bong',
 'nm0094612': 'Daryl Bonilla',
 'nm0094754': 'Emmanuelle Bonmariage',
 'nm0094756': 'Manu Bonmariage',
 'nm0095089': 'Françoise Bonnot',
 'nm0096073': 'Óscar Borda',
 'nm0096983': 'Wes Borland',
 'nm0097788': 'Stephan Bosch',
 'nm0097833': 'João Bosco',
 'nm0098327': 'Andy Boswell',
 'nm0098545': 'Marie Boti',
 'nm0098583': 'Claudio Botosso',
 'nm0099134': 'Jacques Boudet',
 'nm0099797': 'Pascal Bourdiaux',
 'nm0099841': 'Gilles Bourdos',
 'nm0099922': 'Pierre Bourgeois',
 'nm0099996': 'Joelle Bourjolly',
 'nm0100311': 'Daniel Bouthillette',
 'nm0100556': 'Raoul Bova',
 'nm0100854': 'Jeremy Bowen',
 'nm0100865': 'Jon Bowen',
 'nm0101047': 'David Bowers',
 'nm0101055': 'George Bowers',
 'nm0101248': 'Peter Bowles',
 'nm0101597': 'Armen Boyamyan',
 'nm0101952': 'Wayne Boyd',
 'nm0102070': 'Manu Boyer',
 'nm0102744': 'Diana Bracho',
 'nm0103187': 'Dan Bradley',
 'nm0103262': 'James Allen Bradley',
 'nm0104185': 'Kicki Bramberg',
 'nm0104309': 'Joyce Branagh',
 'nm0104373': 'Taylor Branch',
 'nm0104567': 'Madeline Brandeis',
 'nm0105723': 'Bettina Braun',
 'nm0105779': 'Heinz-Josef Braun',
 'nm0105914': 'Sharon Brauner',
 'nm0106040': 'Noelia Bravo Herrera',
 'nm0106842': 'Neil Bregman',
 'nm0106979': 'Michal Breitenwald',
 'nm0107428': 'Joshua Earl Brennand',
 'nm0108484': 'Laurence Briaud',
 'nm0109243': 'Richard Briglia',
 'nm0109400': 'Mariola Brillowska',
 'nm0110123': 'Benjamin Britten',
 'nm0110262': 'Werner Brix',
 'nm0111127': 'Robert Bröllochs',
 'nm0111665': 'Simon Brook',
 'nm0111701': 'Haynes Brooke',
 'nm0112678': 'Christopher Broughton',
 'nm0112892': 'Kelley Brower',
 'nm0113427': 'Don Brown',
 'nm0113731': 'Iain Brown',
 'nm0113819': 'Jeffrey D. Brown',
 'nm0114399': 'Paul Brown',
 'nm0114441': 'Philip Martin Brown',
 'nm0114698': 'Stephen Joel Brown',
 'nm0115088': 'Turner Browne',
 'nm0115143': 'Alistair Browning',
 'nm0115234': 'Johnathan Brownlee',
 'nm0115262': 'Tony Brownrigg',
 'nm0115638': 'Florentine Bruck',
 'nm0115956': 'Reinier van Brummelen',
 'nm0116101': 'Frédéric Bruneel',
 'nm0116263': 'Francesco Bruni',
 'nm0116737': 'Cory Brusseau',
 'nm0116978': 'Lindsay Bryan',
 'nm0117863': 'Maria Grazia Buccella',
 'nm0118047': 'Big Youth',
 'nm0118573': 'Betty A. Buckley',
 'nm0118711': 'Cheryl Buckman',
 'nm0118741': 'Andre Buckner',
 'nm0118975': 'Tom Buderwitz',
 'nm0119109': 'Christiane Büchner',
 'nm0119287': 'Jeanette B. Milio',
 'nm0120025': 'Kim Bullard',
 'nm0120263': 'Bruno Bulté',
 'nm0120284': 'Andy Bumatai',
 'nm0120332': 'David Bunce',
 'nm0120366': 'Ralph Bunche',
 'nm0120814': 'Noël Burch',
 'nm0120816': 'Ron Burch',
 'nm0121620': 'Carlease Burke',
 'nm0121708': 'James Burke',
 'nm0121731': 'Joe Michael Burke',
 'nm0121903': 'Willi Burke',
 'nm0121966': 'Helen McCready',
 'nm0122007': 'Jonathan Burkhart',
 'nm0122344': 'Charles Burnett',
 'nm0122379': 'Jim Burnett',
 'nm0122635': 'David Burns',
 'nm0122636': 'David G. Burns',
 'nm0122703': 'James C. Burns',
 'nm0123058': 'Dave Burrell',
 'nm0123074': 'Kenny Burrell',
 'nm0123385': 'Sid Burston',
 'nm0123653': 'Linda Burton',
 'nm0123896': 'Gerald Busby',
 'nm0124502': 'Mathieu Bisson',
 'nm0124796': 'Riki Butland',
 'nm0125336': 'Jez Butterworth',
 'nm0125588': 'Agata Buzek',
 'nm0125608': 'Natalya Buzko',
 'nm0125661': 'Paolo Buzzurro',
 'nm0126173': 'Elianne Byrne',
 'nm0126478': 'Margaretha Byström',
 'nm0127067': 'Wolfgang Böhmer',
 'nm0127202': 'Sigve Bøe',
 'nm0127313': 'Andrea Bürgin',
 'nm0128212': 'Anne-Marie Cadieux',
 'nm0128230': 'Elia Enid Cadilla',
 'nm0128328': 'Gary Cady',
 'nm0128464': 'Eliane Caffé',
 'nm0128550': 'John Caglione Jr.',
 'nm0128937': 'Michael Cain',
 'nm0129807': 'Zoe Caldwell',
 'nm0130385': 'Monica Calle',
 'nm0130957': 'Juan Manuel Calvo',
 'nm0130977': 'Néstor Calvo',
 'nm0130991': 'Salvador Calvo',
 'nm0131252': 'Iberê Camargo',
 'nm0131347': 'James Camblin',
 'nm0131563': 'Duncan Cameron',
 'nm0132168': 'John W. Campbell Jr.',
 'nm0132265': 'Bryce Campbell',
 'nm0132340': 'Cosmo Campbell',
 'nm0132631': 'Ken Campbell',
 'nm0132962': 'Luc Campeau',
 'nm0133253': 'Jorge Campos',
 'nm0133426': 'Mario Camus',
 'nm0133658': 'Aurora Cancian',
 'nm0133843': 'Vlastimil Canek',
 'nm0134357': 'Roberto Cano',
 'nm0135394': 'Vinicio Capossela',
 'nm0135667': 'Anita Caprioli',
 'nm0135952': 'Nae Caranfil',
 'nm0136775': 'Peter Care',
 'nm0136927': 'Danny Carey',
 'nm0136996': 'Mark Carey',
 'nm0137365': 'Catherine Carlen',
 'nm0138701': 'Valentina Carnelutti',
 'nm0138708': 'Kathryn Carner',
 'nm0138966': 'Jean Carol',
 'nm0139605': 'Neal Marshall Stevens',
 'nm0140087': 'Ricardo Carrasco',
 'nm0140179': 'Ricardo Carrión',
 'nm0140510': 'Marcela Carrillo',
 'nm0141324': 'Silas Carson',
 'nm0141450': 'Alex Carter',
 'nm0141682': 'Jason Carter',
 'nm0142808': 'Diego Casale',
 'nm0143819': 'Michaela Caspar',
 'nm0143873': 'Dorin Caspi',
 'nm0144039': 'Cécile Cassel',
 'nm0144291': 'Bill Cassinelli',
 'nm0144887': 'Virgílio Castelo',
 'nm0145518': 'David Castro',
 'nm0145813': 'Bobby Catalano',
 'nm0145951': 'Antonio Catania',
 'nm0146341': 'Peter Cattaneo',
 'nm0146812': 'Megan Cavallari',
 'nm0147332': 'Óscar del Caz',
 'nm0147975': 'Jaime Celedón',
 'nm0148234': 'Julia Cencig',
 'nm0148235': 'Michael Cencig',
 'nm0149083': 'Ceesepe',
 'nm0149286': 'Janusz Chabior',
 'nm0150553': 'Chankit Chamnivikaipong',
 'nm0150850': 'Pak-Cheung Chan',
 'nm0150977': 'Kin Chung Chan',
 'nm0151189': 'Ameet Chana',
 'nm0151733': 'Jin Jang',
 'nm0152594': 'Crystal Chappell',
 'nm0153263': 'César Charlone',
 'nm0153265': 'Alexandre Charlot',
 'nm0154052': 'Vasanthi Chathurani',
 'nm0154632': 'Ricardo Chavira',
 'nm0154833': 'Tatiana Chekhova',
 'nm0154845': 'Jesus Chediak',
 'nm0155389': 'Terry Chen',
 'nm0155536': 'Andy Cheng',
 'nm0155978': 'Natalya Chernyavskaya',
 'nm0156286': 'Jacques Chessex',
 'nm0156444': 'Cecilia Cheung',
 'nm0156507': 'Kwok Kuen Cheung',
 'nm0156824': 'Alton Chewning',
 'nm0157019': 'Piero Chiara',
 'nm0157787': 'Stephen Chin',
 'nm0158285': 'Mary-Colin Chisholm',
 'nm0158979': 'Fabien Chombart',
 'nm0159087': 'Thomas Chong',
 'nm0159535': 'Debesh Roy Chowdhury',
 'nm0159899': 'Sharon Christensen',
 'nm0160100': 'Troy Christian',
 'nm0160463': 'Bob Christo',
 'nm0161075': 'Babs Chula',
 'nm0161809': 'Anna Maria Cianciulli',
 'nm0161834': 'Derek Cianfrance',
 'nm0162281': 'Enzo Cilenti',
 'nm0162333': 'Mario Cimarro',
 'nm0162486': 'Gigliola Cinquetti',
 'nm0162646': "Francesca Cipriani d'Altorio",
 'nm0162945': 'Ludovít Cittel',
 'nm0163748': 'Candy Clark',
 'nm0163984': 'Graham Clarke',
 'nm0164667': 'Billy Clarke',
 'nm0164797': 'J.R. Clarke',
 'nm0165023': 'Tania Clarke',
 'nm0165159': 'Kevin Clash',
 'nm0165557': 'Pamela Clay',
 'nm0166394': 'Dimitri de Clercq',
 'nm0166921': 'Hillary Clinton',
 'nm0167079': 'Chuck Close',
 'nm0167086': 'Eric Close',
 'nm0167708': 'David Coatsworth',
 'nm0167872': 'Sherry Coben',
 'nm0168143': 'Chad Addison',
 'nm0170087': 'Flora Coker',
 'nm0170504': 'Clifton Ko',
 'nm0171015': 'Dominic Coleman',
 'nm0171474': 'Lewis Colick',
 'nm0171847': 'Marco Colli',
 'nm0172701': 'Suzanne Collins',
 'nm0172830': 'Carlo Collodi',
 'nm0172858': 'Alex Colls',
 'nm0173105': 'Héctor Colomé',
 'nm0174551': 'Wilson Coneybeare',
 'nm0175768': 'Christine Conradt',
 'nm0175796': 'Brendan Conroy',
 'nm0176444': 'Paolo Contis',
 'nm0176775': 'Sally Conway',
 'nm0176787': 'T. Michael Conway',
 'nm0177566': 'Tre Cool',
 'nm0177738': 'Daniel Coonan',
 'nm0177827': 'Pascal',
 'nm0177836': 'Adam Cooper',
 'nm0177942': 'Christopher Cooper',
 'nm0178226': 'Lucy Sumner',
 'nm0178376': 'Scott Cooper',
 'nm0178910': 'Roman Coppola',
 'nm0179562': 'Scott Cordes',
 'nm0179569': 'Philippe Cordey',
 'nm0179871': 'Steve Corino',
 'nm0180083': 'Jon Corn',
 'nm0180431': 'Nick Cornish',
 'nm0180467': 'Blanche Cornwall',
 'nm0180985': 'Kieran Corrigan',
 'nm0182803': 'Suzy Cote',
 'nm0183039': 'Jason Cottle',
 'nm0184401': 'James Covell',
 'nm0185287': 'Wendy Cox',
 'nm0186151': 'Grant Cramer',
 'nm0186246': 'Adrian Cranage',
 'nm0186677': 'Lorella Cravotta',
 'nm0186746': 'Dominique Crawford',
 'nm0186767': 'Filipe Crawford',
 'nm0186890': 'Marc Crawford',
 'nm0187044': 'Jacob Craycroft',
 'nm0187523': 'Mario Crespo',
 'nm0187634': 'Laura Cret',
 'nm0187695': 'Martin Crewes',
 'nm0187747': 'Reg Cribb',
 'nm0188266': 'Anthony Crivello',
 'nm0188687': 'Gail Cronauer',
 'nm0188776': 'Kevin Cronin',
 'nm0189589': 'Steven Crowder',
 'nm0190467': 'Soliman Cruz',
 'nm0190597': 'Alexandra La Roche',
 'nm0190744': 'Marton Csokas',
 'nm0190988': 'Nicolas Cuche',
 'nm0190996': 'Gaspare Cucinella',
 'nm0191446': 'Charles E. Cullen',
 'nm0191974': 'Tony Cummings',
 'nm0192409': 'Noel Cunningham',
 'nm0192416': 'Patrick Cunningham',
 'nm0255528': 'Danae Elon',
 'nm0256079': 'Matt Ember',
 'nm0256105': 'Tine Embrechts',
 'nm0256636': 'Emperor Franz Josef',
 'nm0256779': 'Michael Ende',
 'nm0257188': 'Kim Engelbrecht',
 'nm0258390': 'Jack Epps Jr.',
 'nm0258459': 'Fernando Epstein',
 'nm0258646': 'Micky Erbe',
 'nm0259304': 'Anna Croneman',
 'nm0259490': 'Arif Erkin Güzelbeyoglu',
 'nm0259693': 'Franz Ernst',
 'nm0260554': 'Juliet Esey Joseph',
 'nm0260695': 'Habib Esmaili',
 'nm0261489': 'Steven Esteb',
 'nm0261498': 'Alberto Esteban',
 'nm0261685': 'Jacinto Esteva',
 'nm0261800': 'Daniel Estrada',
 'nm0262125': 'Treva Etienne',
 'nm0262471': 'Stefanie Evangelista',
 'nm0262699': 'Dean Evans',
 'nm0265314': 'Stewart Faichney',
 'nm0265668': 'Donald Faison',
 'nm0265856': 'Francesco Falaschi',
 'nm0266088': 'Susan Fales-Hill',
 'nm0266410': 'Dennis MaGee Fallon',
 'nm0267043': 'Nazanin Farahani',
 'nm0267309': 'James Fargo',
 'nm0267691': 'William Farley',
 'nm0269077': 'James Faulkner',
 'nm0269260': 'Lauren Faust',
 'nm0269310': 'Sylvie Fauthoux',
 'nm0269329': 'Anne-Marie Faux',
 'nm0269377': 'Enzo Favata',
 'nm0269616': 'Tamara Fay',
 'nm0269645': 'Faye',
 'nm0270531': 'Fritz Feick',
 'nm0270625': 'JJ Feild',
 'nm0272563': 'Niall Ferguson',
 'nm0272626': 'Tim Ferguson',
 'nm0272714': 'Peter Ferland',
 'nm0273644': 'Mariano Fernández',
 'nm0273972': 'Francesca Ferrara',
 'nm0274262': 'Laurence Ferreira Barbosa',
 'nm0274483': 'Edmund Ferrell',
 'nm0274516': 'Chris Ferrence',
 'nm0275002': 'Rafael Ferro',
 'nm0275651': 'Niv Fichman',
 'nm0276161': 'Noel Fielding',
 'nm0276454': 'Ramiro Fierro',
 'nm0276726': 'Mauricio Figueroa',
 'nm0276992': 'Robert W. Filion',
 'nm0277525': 'Deborah Findlay',
 'nm0277987': 'Mary Finlay',
 'nm0278661': 'Renee Firestone',
 'nm0278957': 'Ian Fischer',
 'nm0279412': 'Chad Fischer',
 'nm0280915': 'Gerry Flahive',
 'nm0282147': 'Graham Fletcher-Cook',
 'nm0282268': 'Frank Flick',
 'nm0282747': 'Alejandra Flores',
 'nm0283253': 'Wendee Lee',
 'nm0283698': 'Johannes Flütsch',
 'nm0283763': 'Sarah Fodey',
 'nm0283844': 'Peter Schønau Fog',
 'nm0284049': 'Joe Folau',
 'nm0284259': 'Felipe Folgosi',
 'nm0284541': 'Brian Fong',
 'nm0284678': 'João Fonseca',
 'nm0285283': 'Katia Forbert',
 'nm0286030': 'David Foreman',
 'nm0286465': 'Antonio Fornari',
 'nm0286586': 'Benthe Forrer',
 'nm0289125': 'Louise Fox',
 'nm0289167': 'Neal Fox',
 'nm0289959': 'Fernando Franchi',
 'nm0290475': 'Don Francks',
 'nm0290969': 'Jason David Frank',
 'nm0291460': 'Joe Franklin',
 'nm0291743': 'Aleksandr Franskevich-Laye',
 'nm0292263': 'Xuan Fraser',
 'nm0293303': 'Beverley Freeman',
 'nm0293889': 'Stéphane Freiss',
 'nm0294832': 'Thomas Frickel',
 'nm0295349': 'Richard Friedman',
 'nm0295480': 'Will Friedwald',
 'nm0295505': 'Antonio Friello',
 'nm0295560': 'David T. Friendly',
 'nm0295818': 'Jane Frisby',
 'nm0295861': 'Jacquelyn Frisco',
 'nm0295907': 'Michael Frislev',
 'nm0296255': 'Jim Frohna',
 'nm0296658': 'Cesare Frugoni',
 'nm0296861': 'E. Max Frye',
 'nm0297076': 'Samuel Fröler',
 'nm0297109': 'Tobias Frühmorgen',
 'nm0297596': 'Jean Fugère',
 'nm0297858': 'Ayako Fujitani',
 'nm0298020': 'Seizô Fukumoto',
 'nm0298180': 'Brad Fuller',
 'nm0298184': 'Brook Fuller',
 'nm0298335': 'Robert Welch',
 'nm0298868': 'Boguslawa Furga',
 'nm0299174': 'Kôji Furuhata',
 'nm0299222': 'Ikkô Furuya',
 'nm0299228': 'Tôru Furuya',
 'nm0299990': 'Laura Gabbert',
 'nm0300903': 'Dan Gagliasso',
 'nm0301642': 'Gabrielle Galanter',
 'nm0301698': 'Giovanni Galasso',
 'nm0302916': 'Guillaume Gallienne',
 'nm0302990': 'Kuki Gallmann',
 'nm0303677': 'Christopher Gambale',
 'nm0303889': 'Patrick Gambuti Jr.',
 'nm0304432': 'Roberts Gannaway',
 'nm0304599': 'Leif Gantvoort',
 'nm0304709': 'Jack Kao',
 'nm0306570': 'José Luis García-Lopez',
 'nm0307358': 'Gerardo Gargiulo',
 'nm0307739': 'Nadine Garner',
 'nm0308186': 'Philip R. Garrett',
 'nm0308243': 'David Garrick',
 'nm0308647': 'Greg Garthe',
 'nm0308651': 'Chris Gartin',
 'nm0309168': 'Piotr Gasowski',
 'nm0309469': 'Gilles Gaston-Dreyfus',
 'nm0309864': 'John Gau',
 'nm0310178': 'Katja Gauriloff',
 'nm0310614': 'Julie Gavras',
 'nm0310813': 'James Gay-Rees',
 'nm0311532': 'Grant Gee',
 'nm0311687': 'Anthony Geffen',
 'nm0311702': 'Lotta Geffenblad',
 'nm0312586': 'Nikki Gemmell',
 'nm0312881': 'Toby Genkel',
 'nm0312981': 'Vicente Genovés',
 'nm0313144': 'Martin Gentles',
 'nm0313388': 'Christopher Dunn George',
 'nm0313534': 'Melissa George',
 'nm0313746': 'Maria Georgiadou',
 'nm0313984': 'Olivier Gérard',
 'nm0315850': 'Hassan Gholizadeh',
 'nm0315917': 'Rabi Ghosh',
 'nm0316230': 'Constantine Giannaris',
 'nm0316264': 'Mario Gianni',
 'nm0316752': 'Jean-Paul Gibeau',
 'nm0316795': 'Alex Gibney',
 'nm0317302': 'Irit Gidron',
 'nm0317314': 'Bastiaan Gieben',
 'nm0317698': 'Kostas Gikas',
 'nm0317798': 'João Gil',
 'nm0318098': 'Jo Gilbert',
 'nm0318886': 'Marco Gilles',
 'nm0319010': 'Aden Gillett',
 'nm0388486': 'Willy Hoeller',
 'nm0388578': 'Isa Hoes',
 'nm0388638': "Jacko van 't Hof",
 'nm0388954': 'Jerry Hoffman',
 'nm0391473': 'Aslaug Holm',
 'nm0391722': 'Kjersti Holmen',
 'nm0393702': 'Elissa Dulce Hoopai',
 'nm0393855': 'Robert Hooven',
 'nm0394348': 'Eliana Miglio',
 'nm0394507': 'Jan-Christopher Horak',
 'nm0395587': 'Derek Horton',
 'nm0399011': 'Jun Huang',
 'nm0399326': 'Dave Huber',
 'nm0399344': 'Grischa Huber',
 'nm0400574': 'Dustin Hughes',
 'nm0400864': 'Phil Hughes',
 'nm0401233': 'Jim Huie',
 'nm0403570': 'Emily Hurson',
 'nm0403622': 'Lillian Hurst',
 'nm0403977': 'Nazim Hussain',
 'nm0404067': 'Eva Husson',
 'nm0404246': 'Robert Hutchings',
 'nm0404693': 'Brody Hutzler',
 'nm0404749': 'René Huybrechtse',
 'nm0404931': 'Paul Hyett',
 'nm0405213': 'Zephirin Hymel IV',
 'nm0405605': 'Klaus Härö',
 'nm0405783': 'Tsukasa Hôjô',
 'nm0405784': 'Toomas Hõrak',
 'nm0406167': 'Thomas Hürlimann',
 'nm0406170': 'Alfred Hürmer',
 'nm0406367': 'Peter Iasillo Jr.',
 'nm0406818': 'John Idakitis',
 'nm0407527': 'Hiroshi Yanaka',
 'nm0407766': 'Ángel Illarramendi',
 'nm0407770': 'Tara Illenberger',
 'nm0408043': 'Hiroyuki Imaishi',
 'nm0408615': 'Gonzalo Infante',
 'nm0408985': 'Jack Ingram',
 'nm0409219': 'Virginia Innocenti',
 'nm0409336': 'Daniel Inouye',
 'nm0410288': 'John Irving',
 'nm0410655': 'Ewa Telega',
 'nm0410945': 'Toshirô Ishidô',
 'nm0411220': 'Azri Iskandar',
 'nm0411229': 'Mai Iskander',
 'nm0411422': 'Daniel Isoppo',
 'nm0411666': 'Sandra Itkoff',
 'nm0411740': 'Seikô Itô',
 'nm0411932': 'Ivan Ivan',
 'nm0412588': 'Basil Iwanyk',
 'nm0412596': 'Satoko Iwasaki',
 'nm0413382': 'Clydene Jackson',
 'nm0413659': 'Jermaine Jackson',
 'nm0413746': 'Kevin Jackson',
 'nm0415393': 'Anja Jaenicke',
 'nm0415588': 'Bianca Jagger',
 'nm0416253': 'Adam James',
 'nm0416266': 'Aliza James',
 'nm0416535': 'Greg James',
 'nm0417202': 'Peter Jamison',
 'nm0418877': 'John Jarratt',
 'nm0418918': 'Brandon Jarrett',
 'nm0419541': 'Cezary Jaworski',
 'nm0419796': 'Borys Jaznicki',
 'nm0419829': 'Olivier Jean Marie',
 'nm0420290': 'Glenn Jeffrey',
 'nm0420685': 'Nelly Jencíková',
 'nm0420926': 'Mykel Shannon Jenkins',
 'nm0421898': 'Milenko Jeremic',
 'nm0422151': 'Otto Jespersen',
 'nm0422659': 'Gang Jiao',
 'nm0422813': 'Margarita Jimeno',
 'nm0423031': 'Néstor Jiménez',
 'nm0423486': 'Slobodan Jocic',
 'nm0423765': 'Arthur Johansen',
 'nm0423872': 'Vasa',
 'nm0424710': 'Carl Johnson',
 'nm0425388': 'Jo Johnson',
 'nm0425777': 'Matt Johnson',
 'nm0426062': 'Richard Johnson',
 'nm0426103': 'Robert A. Johnson',
 'nm0426238': 'Simon Johnson',
 'nm0426343': 'Titti Johnson',
 'nm0426500': 'Kurt Johnstad',
 'nm0427277': 'Alain Jomy',
 'nm0427896': 'Dean Jones',
 'nm0428109': 'Gary Jones',
 'nm0428429': 'John Paul Jones',
 'nm0428856': 'Mickey Jones',
 'nm0429094': 'Rhys Parry Jones',
 'nm0429166': 'Ron Jones',
 'nm0429236': 'Shaw Jones',
 'nm0429647': 'Bo Jonsson',
 'nm0429944': 'Frank Jordan',
 'nm0430331': 'Dinis Gomes',
 'nm0430485': 'Lal Jose',
 'nm0431082': 'Jacques Jouffret',
 'nm0431172': 'Duane Journey',
 'nm0431681': 'Adelaide João',
 'nm0431791': 'Laurence Juber',
 'nm0432375': 'Karin Julsrud',
 'nm0432568': 'Mathias Jung',
 'nm0433169': 'Milton Justice',
 'nm0433269': 'Benoit Jutras',
 'nm0434389': 'Larisa Kadochnikova',
 'nm0434391': 'Kazue Tsunogae',
 'nm0434651': 'Patrick Teoh',
 'nm0435323': 'Bianca Kajlich',

In [8]:
df3 = pd.read_csv('zippedData/imdb.title.akas.csv.gz')
df3.head(30)

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
5,tt0369610,15,Jurassic World,GR,NaN,imdbDisplay,NaN,0.0
6,tt0369610,16,Jurassic World,IT,NaN,imdbDisplay,NaN,0.0
7,tt0369610,17,Jurski svijet,HR,NaN,imdbDisplay,NaN,0.0
8,tt0369610,18,Olam ha'Yura,IL,he,imdbDisplay,NaN,0.0
9,tt0369610,19,Jurassic World: Mundo Jurásico,MX,NaN,imdbDisplay,NaN,0.0
10,tt0369610,1,Jurassic World: Sauruste maailm,EE,NaN,imdbDisplay,NaN,0.0
11,tt0369610,20,Jurassic World,SE,NaN,imdbDisplay,NaN,0.0
12,tt0369610,21,Jurassic World 3D,US,NaN,NaN,3-D version,0.0
13,tt0369610,22,Jurassic World 3D,DE,NaN,NaN,3-D version,0.0
14,tt0369610,23,Jurassic World 3D,XWW,NaN,NaN,3-D version,0.0
15,tt0369610,24,Juras laikmeta pasaule,LV,NaN,imdbDisplay,NaN,0.0
16,tt0369610,25,Mundo Jurássico,PT,NaN,imdbDisplay,NaN,0.0
17,tt0369610,26,Мир Юрского периода,RU,NaN,NaN,NaN,0.0
18,tt0369610,27,Jurský svět,CZ,NaN,NaN,NaN,0.0
19,tt0369610,28,Monde jurassique,CA,fr,imdbDisplay,NaN,0.0
20,tt0369610,29,Jurassic World,US,NaN,NaN,NaN,0.0
21,tt0369610,2,Ebb Tide,US,NaN,NaN,fake working title,0.0
22,tt0369610,30,Jurassic World: Mundo Jurásico,CL,NaN,imdbDisplay,NaN,0.0
23,tt0369610,31,Jurassic World,RO,NaN,imdbDisplay,NaN,0.0
24,tt0369610,32,Juros periodo pasaulis,LT,NaN,imdbDisplay,NaN,0.0
25,tt0369610,33,Jurassic World,FI,NaN,imdbDisplay,NaN,0.0
26,tt0369610,34,Jurassic World: Mundo jurásico,PE,NaN,imdbDisplay,NaN,0.0
27,tt0369610,35,Jurassic Park 4,TR,tr,NaN,informal alternative title,0.0
28,tt0369610,36,Jurassic Park IV,US,NaN,working,NaN,0.0
29,tt0369610,37,Jurassic World,NO,NaN,imdbDisplay,NaN,0.0

In [9]:
df3.loc[df3['types'] == 'festival'] #see which titles are festival types

,title_id,ordering,title,region,language,types,attributes,is_original_title
659,tt1401669,5,The Little Room,XWW,en,festival,NaN,0.0
713,tt1422800,11,Wake,US,NaN,festival,NaN,0.0
736,tt1548559,5,Filhos das Estrelas,BR,NaN,festival,NaN,0.0
737,tt1548629,1,Sebbe,GR,NaN,festival,NaN,0.0
753,tt1556190,13,Nostalgontas to fos,GR,NaN,festival,NaN,0.0
...,...,...,...,...,...,...,...,...
330756,tt6129302,2,Superhero Joshi,KR,NaN,festival,NaN,0.0
331133,tt6434084,1,Labyrinths of Love,XWW,en,festival,NaN,0.0
331349,tt7158582,7,Sarah és Salim viszonya,HU,NaN,festival,NaN,0.0
331471,tt7293844,2,The Corroborators,XWW,NaN,festival,NaN,0.0
331591,tt8997034,2,Little Germans,XWW,en,festival,NaN,0.0

In [10]:
df4 = pd.read_csv('zippedData/tmdb.movies.csv.gz')
df4.head()
#genre ids are good here but we need more info on what number corresponds to what genre

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [11]:
df5 = pd.read_csv('zippedData/imdb.title.principals.csv.gz')
df5.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [12]:
df5.groupby('tconst').count().head() #just want to group by tconst to see what the data looked like
#I think the actors/actresses associated with each movie is what's most important in df5

           ordering  nconst  category  job  characters
tconst
tt0063540        10      10        10    4           4
tt0066787         7       7         7    1           3
tt0069049        10      10        10    2           4
tt0069204        10      10        10    1           5
tt0100275        10      10        10    4           0

In [13]:
#there should be a way to get the movie codes as keys and the actors/actresses as values in a dictionary
df5_actors = df5[(df5['category'] == 'actor') | (df5['category'] == 'actress')]
df5_actors.head()

      tconst  ordering     nconst category  job                characters
0  tt0111414         1  nm0246005    actor  NaN               ["The Man"]
4  tt0323808         1  nm3579312  actress  NaN          ["Beth Boothby"]
5  tt0323808         2  nm2694680    actor  NaN         ["Steve Thomson"]
6  tt0323808         3  nm0574615    actor  NaN  ["Sir Lachlan Morrison"]
7  tt0323808         4  nm0502652  actress  NaN   ["Lady Delia Morrison"]

In [14]:
movie_actor_pairs = list(zip(df5_actors.tconst, df5_actors.nconst))
#list of tuples where 0th element is movie code and 1st element is actor code

movie_codes = list(set(list(df5_actors.tconst)))
movie_dict = {}
for i in range(0, len(movie_codes)):
    movie_dict[movie_codes[i]]=[]
    
movie_dict #movie codes are keys and we will append actor codes to values which are empty lists

{'tt2190760': [],
 'tt8586736': [],
 'tt10079698': [],
 'tt6043298': [],
 'tt2596196': [],
 'tt7639224': [],
 'tt1692478': [],
 'tt4187650': [],
 'tt4660552': [],
 'tt8539500': [],
 'tt4652650': [],
 'tt8135000': [],
 'tt1703237': [],
 'tt3163224': [],
 'tt9807524': [],
 'tt5994872': [],
 'tt1667417': [],
 'tt4939892': [],
 'tt4425430': [],
 'tt6453208': [],
 'tt8047210': [],
 'tt5884950': [],
 'tt7552794': [],
 'tt5171664': [],
 'tt3551626': [],
 'tt7208916': [],
 'tt3590304': [],
 'tt4829166': [],
 'tt7074750': [],
 'tt3594928': [],
 'tt5479700': [],
 'tt1964459': [],
 'tt9177746': [],
 'tt3107024': [],
 'tt8201170': [],
 'tt3775086': [],
 'tt3679060': [],
 'tt2064905': [],
 'tt2565974': [],
 'tt1753965': [],
 'tt2331169': [],
 'tt5302532': [],
 'tt2392990': [],
 'tt2522082': [],
 'tt4645156': [],
 'tt6987074': [],
 'tt7365948': [],
 'tt1732676': [],
 'tt7288646': [],
 'tt7872636': [],
 'tt6568190': [],
 'tt1424058': [],
 'tt5830022': [],
 'tt2511594': [],
 'tt7031510': [],
 'tt1631769': [],
 'tt2720844': [],
 'tt6747192': [],
 'tt4785360': [],
 'tt3174012': [],
 'tt5733650': [],
 'tt1918884': [],
 'tt3807496': [],
 'tt4846220': [],
 'tt4637050': [],
 'tt6045852': [],
 'tt7504268': [],
 'tt8138840': [],
 'tt4396648': [],
 'tt3615332': [],
 'tt6917210': [],
 'tt5352216': [],
 'tt3662686': [],
 'tt8081646': [],
 'tt2229232': [],
 'tt8638730': [],
 'tt3478884': [],
 'tt1514046': [],
 'tt3197696': [],
 'tt3462852': [],
 'tt6804038': [],
 'tt6448132': [],
 'tt5176580': [],
 'tt6460924': [],
 'tt7863198': [],
 'tt5641510': [],
 'tt2069891': [],
 'tt8231582': [],
 'tt2308723': [],
 'tt1943710': [],
 'tt2610252': [],
 'tt2371452': [],
 'tt2363191': [],
 'tt7619922': [],
 'tt3511596': [],
 'tt1954427': [],
 'tt5432182': [],
 'tt2173961': [],
 'tt4677128': [],
 'tt2430356': [],
 'tt3715598': [],
 'tt3483672': [],
 'tt2671980': [],
 'tt4317850': [],
 'tt6671882': [],
 'tt9635760': [],
 'tt4255110': [],
 'tt5278886': [],
 'tt2879058': [],
 'tt6028556': [],
 'tt1810759': [],
 'tt4828680': [],
 'tt1740762': [],
 'tt2961402': [],
 'tt7024716': [],
 'tt8735662': [],
 'tt7244754': [],
 'tt7128932': [],
 'tt8651064': [],
 'tt1832937': [],
 'tt1785565': [],
 'tt4599860': [],
 'tt2507468': [],
 'tt5741952': [],
 'tt3249612': [],
 'tt3735810': [],
 'tt2318757': [],
 'tt6686996': [],
 'tt4065340': [],
 'tt1688702': [],
 'tt2234035': [],
 'tt4908742': [],
 'tt4994584': [],
 'tt6276884': [],
 'tt6417014': [],
 'tt3064854': [],
 'tt1975888': [],
 'tt2447808': [],
 'tt6422322': [],
 'tt6278226': [],
 'tt1466572': [],
 'tt8468004': [],
 'tt7375198': [],
 'tt5559434': [],
 'tt8774622': [],
 'tt3197486': [],
 'tt4505670': [],
 'tt9737688': [],
 'tt3379812': [],
 'tt2108631': [],
 'tt6609564': [],
 'tt8484252': [],
 'tt4907042': [],
 'tt5768328': [],
 'tt6087058': [],
 'tt3146400': [],
 'tt3530978': [],
 'tt2536780': [],
 'tt2385760': [],
 'tt9615278': [],
 'tt6967644': [],
 'tt2931376': [],
 'tt2042507': [],
 'tt9904328': [],
 'tt5037692': [],
 'tt3755992': [],
 'tt1684935': [],
 'tt3034146': [],
 'tt1834889': [],
 'tt2961406': [],
 'tt4875150': [],
 'tt1430064': [],
 'tt2425892': [],
 'tt4944906': [],
 'tt2159662': [],
 'tt5669898': [],
 'tt1686067': [],
 'tt5157836': [],
 'tt1235522': [],
 'tt9354412': [],
 'tt6313010': [],
 'tt6524704': [],
 'tt1702455': [],
 'tt1880230': [],
 'tt1568898': [],
 'tt6451472': [],
 'tt7784788': [],
 'tt4450624': [],
 'tt4430958': [],
 'tt4181732': [],
 'tt3295774': [],
 'tt3005388': [],
 'tt10062650': [],
 'tt2259318': [],
 'tt4823486': [],
 'tt2013264': [],
 'tt10407924': [],
 'tt3481170': [],
 'tt5339116': [],
 'tt2753654': [],
 'tt6052982': [],
 'tt4083698': [],
 'tt5842678': [],
 'tt8377326': [],
 'tt2113809': [],
 'tt2264860': [],
 'tt7158042': [],
 'tt5421150': [],
 'tt4399812': [],
 'tt8499972': [],
 'tt1327699': [],
 'tt8793606': [],
 'tt6578570': [],
 'tt9781614': [],
 'tt2984034': [],
 'tt2233170': [],
 'tt6229100': [],
 'tt1961423': [],
 'tt3950002': [],
 'tt2669348': [],
 'tt5594668': [],
 'tt7787880': [],
 'tt2459364': [],
 'tt5045776': [],
 'tt3130298': [],
 'tt6602256': [],
 'tt6158254': [],
 'tt9546082': [],
 'tt1876330': [],
 'tt2929768': [],
 'tt6615784': [],
 'tt5777154': [],
 'tt2299433': [],
 'tt4164482': [],
 'tt10324542': [],
 'tt4891240': [],
 'tt2070597': [],
 'tt1887784': [],
 'tt4361376': [],
 'tt1313121': [],
 'tt1714884': [],
 'tt3838918': [],
 'tt2446130': [],
 'tt10196336': [],
 'tt3100404': [],
 'tt2316355': [],
 'tt1731990': [],
 'tt2456514': [],
 'tt3851412': [],
 'tt2567942': [],
 'tt4244332': [],
 'tt2265640': [],
 'tt1780821': [],
 'tt5910344': [],
 'tt3107494': [],
 'tt2211144': [],
 'tt4025900': [],
 'tt2294479': [],
 'tt3971304': [],
 'tt10270164': [],
 'tt5797456': [],
 'tt3680788': [],
 'tt5880234': [],
 'tt4948694': [],
 'tt2229283': [],
 'tt4898730': [],
 'tt3905092': [],
 'tt9460596': [],
 'tt8130378': [],
 'tt2923088': [],
 'tt8805852': [],
 'tt1330229': [],
 'tt7238068': [],
 'tt3346824': [],
 'tt5006154': [],
 'tt3396306': [],
 'tt6389600': [],
 'tt3284618': [],
 'tt8459800': [],
 'tt1540803': [],
 'tt3317158': [],
 'tt5127772': [],
 'tt7238342': [],
 'tt1965239': [],
 'tt2634296': [],
 'tt4964914': [],
 'tt1754658': [],
 'tt2845062': [],
 'tt3186652': [],
 'tt2356420': [],
 'tt4789158': [],
 'tt1615864': [],
 'tt3097706': [],
 'tt5020618': [],
 'tt1733575': [],
 'tt3389006': [],
 'tt2384642': [],
 'tt1732158': [],
 'tt5090908': [],
 'tt9390202': [],
 'tt2433440': [],
 'tt1869690': [],
 'tt3238146': [],
 'tt7782398': [],
 'tt3392998': [],
 'tt3748354': [],
 'tt3125220': [],
 'tt3429784': [],
 'tt10295538': [],
 'tt1783319': [],
 'tt2951494': [],
 'tt2515164': [],
 'tt4374044': [],
 'tt6245540': [],
 'tt5108550': [],
 'tt1787059': [],
 'tt3908028': [],
 'tt7317256': [],
 'tt3690880': [],
 'tt5649832': [],
 'tt5437334': [],
 'tt4059026': [],
 'tt7655570': [],
 'tt6047482': [],
 'tt7745080': [],
 'tt9177988': [],
 'tt5342900': [],
 'tt9657764': [],
 'tt2072117': [],
 'tt2258713': [],
 'tt4559006': [],
 'tt6462506': [],
 'tt1821700': [],
 'tt2390882': [],
 'tt1517666': [],
 'tt6186650': [],
 'tt7831530': [],
 'tt8884004': [],
 'tt2262127': [],
 'tt8457796': [],
 'tt7319068': [],
 'tt2718462': [],
 'tt9209390': [],
 'tt8094272': [],
 'tt2618902': [],
 'tt6223320': [],
 'tt1855978': [],
 'tt3671676': [],
 'tt2111254': [],
 'tt2779896': [],
 'tt4980272': [],
 'tt7060332': [],
 'tt2353506': [],
 'tt10199668': [],
 'tt7204006': [],
 'tt10413444': [],
 'tt2414232': [],
 'tt6333390': [],
 'tt4144190': [],
 'tt5675828': [],
 'tt9019698': [],
 'tt3976384': [],
 'tt3683702': [],
 'tt4575576': [],
 'tt1872107': [],
 'tt4493550': [],
 'tt1669622': [],
 'tt2637906': [],
 'tt4304364': [],
 'tt2418196': [],
 'tt1227524': [],
 'tt2070776': [],
 'tt2368905': [],
 'tt9665400': [],
 'tt7090136': [],
 'tt1831825': [],
 'tt10303842': [],
 'tt7392060': [],
 'tt1571401': [],
 'tt3000686': [],
 'tt8766224': [],
 'tt0483839': [],
 'tt6384720': [],
 'tt5180618': [],
 'tt6992642': [],
 'tt8915068': [],
 'tt2827192': [],
 'tt3962212': [],
 'tt5196576': [],
 'tt3487526': [],
 'tt4026586': [],
 'tt6518634': [],
 'tt7718402': [],
 'tt1737071': [],
 'tt3101260': [],
 'tt2091361': [],
 'tt5665040': [],
 'tt7275330': [],
 'tt5189894': [],
 'tt2442384': [],
 'tt2102499': [],
 'tt1472589': [],
 'tt5767686': [],
 'tt6206318': [],
 'tt8736842': [],
 'tt8686150': [],
 'tt9196576': [],
 'tt8255490': [],
 'tt2279199': [],
 'tt2196486': [],
 'tt3813880': [],
 'tt4401304': [],
 'tt1797515': [],
 'tt5752374': [],
 'tt7237666': [],
 'tt6787114': [],
 'tt1779064': [],
 'tt2608650': [],
 'tt5862032': [],
 'tt1671629': [],
 'tt7969042': [],
 'tt2376456': [],
 'tt5658574': [],
 'tt3667098': [],
 'tt6269786': [],
 'tt5807544': [],
 'tt3722246': [],
 'tt4117924': [],
 'tt5118942': [],
 'tt3209488': [],
 'tt1025100': [],
 'tt2706120': [],
 'tt1788450': [],
 'tt2050571': [],
 'tt2624316': [],
 'tt2397561': [],
 'tt5277066': [],
 'tt2771506': [],
 'tt8042234': [],
 'tt3907302': [],
 'tt2217824': [],
 'tt8947230': [],
 'tt8020896': [],
 'tt5684158': [],
 'tt3445588': [],
 'tt2848132': [],
 'tt2186929': [],
 'tt1409734': [],
 'tt2814628': [],
 'tt3574658': [],
 'tt2587242': [],
 'tt5847740': [],
 'tt9046942': [],
 'tt9577852': [],
 'tt2262129': [],
 'tt9089504': [],
 'tt2325517': [],
 'tt6148804': [],
 'tt3100300': [],
 'tt3571682': [],
 'tt4610876': [],
 'tt1904881': [],
 'tt1611947': [],
 'tt2123138': [],
 'tt6098806': [],
 'tt8512104': [],
 'tt8043038': [],
 'tt5462326': [],
 'tt3811826': [],
 'tt8223874': [],
 'tt3968004': [],
 'tt6802398': [],
 'tt6139966': [],
 'tt3295722': [],
 'tt2210919': [],
 'tt5720450': [],
 'tt4857574': [],
 'tt2662764': [],
 'tt7267154': [],
 'tt1949593': [],
 'tt2616448': [],
 'tt4287348': [],
 'tt2883264': [],
 'tt0821486': [],
 'tt1027755': [],
 'tt7624840': [],
 'tt9880212': [],
 'tt9859162': [],
 'tt2258561': [],
 'tt2877192': [],
 'tt7158682': [],
 'tt8052440': [],
 'tt1781944': [],
 'tt6546522': [],
 'tt3502426': [],
 'tt2879080': [],
 'tt6166804': [],
 'tt4416372': [],
 'tt2057487': [],
 'tt4483566': [],
 'tt4088268': [],
 'tt4523338': [],
 'tt8108150': [],
 'tt7148964': [],
 'tt6210054': [],
 'tt1549862': [],
 'tt7194616': [],
 'tt2078686': [],
 'tt2191861': [],
 'tt8589146': [],
 'tt3517870': [],
 'tt2415086': [],
 'tt2764094': [],
 'tt2468804': [],
 'tt4400706': [],
 'tt2047802': [],
 'tt1870527': [],
 'tt6938712': [],
 'tt2487880': [],
 'tt3002882': [],
 'tt4693840': [],
 'tt2854926': [],
 'tt5500400': [],
 'tt2096596': [],
 'tt5580516': [],
 'tt3319398': [],
 'tt2131481': [],
 'tt2593380': [],
 'tt4670548': [],
 'tt6287930': [],
 'tt3765374': [],
 'tt1708424': [],
 'tt4865170': [],
 'tt7996170': [],
 'tt2023638': [],
 'tt2358806': [],
 'tt5678162': [],
 'tt4543358': [],
 'tt8031656': [],
 'tt6528956': [],
 'tt7224598': [],
 'tt7693580': [],
 'tt3452106': [],
 'tt8860624': [],
 'tt1865393': [],
 'tt3695940': [],
 'tt9543062': [],
 'tt5484000': [],
 'tt3612224': [],
 'tt1838527': [],
 'tt2169522': [],
 'tt3689528': [],
 'tt2966670': [],
 'tt1741243': [],
 'tt10025790': [],
 'tt1813665': [],
 'tt2016153': [],
 'tt1198133': [],
 'tt1912982': [],
 'tt2429550': [],
 'tt3681340': [],
 'tt2885536': [],
 'tt1789035': [],
 'tt10365730': [],
 'tt2011271': [],
 'tt3374760': [],
 'tt5323642': [],
 'tt2511216': [],
 'tt7546024': [],
 'tt1872215': [],
 'tt4130892': [],
 'tt3653132': [],
 'tt2759320': [],
 'tt4679938': [],
 'tt1956646': [],
 'tt3092076': [],
 'tt1524137': [],
 'tt6393474': [],
 'tt1835920': [],
 'tt1859565': [],
 'tt3254658': [],
 'tt4938164': [],
 'tt6697582': [],
 'tt6470522': [],
 'tt7386674': [],
 'tt5097218': [],
 'tt1852010': [],
 'tt5336798': [],
 'tt1684586': [],
 'tt8910780': [],
 'tt2339954': [],
 'tt4456734': [],
 'tt9906844': [],
 'tt2379805': [],
 'tt4504922': [],
 'tt1599370': [],
 'tt4791202': [],
 'tt7207460': [],
 'tt10466254': [],
 'tt8250640': [],
 'tt5355018': [],
 'tt5357556': [],
 'tt8802728': [],
 'tt2818528': [],
 'tt4926858': [],
 'tt3837114': [],
 'tt9121516': [],
 'tt3550512': [],
 'tt2152050': [],
 'tt1733562': [],
 'tt6538520': [],
 'tt3443208': [],
 'tt5876196': [],
 'tt3856382': [],
 'tt3672008': [],
 'tt7046112': [],
 'tt1833111': [],
 'tt5440620': [],
 'tt2127283': [],
 'tt4040054': [],
 'tt7976508': [],
 'tt2007367': [],
 'tt8826634': [],
 'tt1683987': [],
 'tt6146490': [],
 'tt4454834': [],
 'tt3170624': [],
 'tt3703926': [],
 'tt5103762': [],
 'tt3028180': [],
 'tt2513536': [],
 'tt3283908': [],
 'tt2515318': [],
 'tt7698468': [],
 'tt7068588': [],
 'tt3513852': [],
 'tt1971310': [],
 'tt1869236': [],
 'tt1922700': [],
 'tt5020764': [],
 'tt1261862': [],
 'tt6066922': [],
 'tt4759912': [],
 'tt3532702': [],
 'tt5338504': [],
 'tt6409262': [],
 'tt3902120': [],
 'tt3587552': [],
 'tt2495778': [],
 'tt2395349': [],
 'tt4773108': [],
 'tt3138166': [],
 'tt8090628': [],
 'tt2811762': [],
 'tt2145909': [],
 'tt10202644': [],
 'tt3765586': [],
 'tt8216224': [],
 'tt2543506': [],
 'tt3620524': [],
 'tt2011953': [],
 'tt4280052': [],
 'tt3695346': [],
 'tt2348478': [],
 'tt3399050': [],
 'tt2140585': [],
 'tt1606158': [],
 'tt5066594': [],
 'tt4265472': [],
 'tt2837674': [],
 'tt1929373': [],
 'tt3626760': [],
 'tt9382076': [],
 'tt6223862': [],
 'tt9859372': [],
 'tt2281217': [],
 'tt1563776': [],
 'tt4729478': [],
 'tt5805026': [],
 'tt1727364': [],
 'tt8688048': [],
 'tt3850866': [],
 'tt1541160': [],
 'tt5242040': [],
 'tt0884732': [],
 'tt5117222': [],
 'tt1754167': [],
 'tt6255828': [],
 'tt2640840': [],
 'tt4575328': [],
 'tt5931670': [],
 'tt6832192': [],
 'tt8726116': [],
 'tt8929686': [],
 'tt1734493': [],
 'tt6555348': [],
 'tt3257726': [],
 'tt8464612': [],
 'tt1851085': [],
 'tt1505411': [],
 'tt8572010': [],
 'tt3890902': [],
 'tt1839482': [],
 'tt2318092': [],
 'tt2432184': [],
 'tt1679238': [],
 'tt4073166': [],
 'tt7493366': [],
 'tt1461219': [],
 'tt2651626': [],
 'tt6016458': [],
 'tt1172047': [],
 'tt2404163': [],
 'tt4422484': [],
 'tt1778872': [],
 'tt1930501': [],
 'tt2082415': [],
 'tt4183910': [],
 'tt3643040': [],
 'tt3827684': [],
 'tt5016698': [],
 'tt9112578': [],
 'tt5477354': [],
 'tt5068702': [],
 'tt2053369': [],
 'tt2507224': [],
 'tt6231758': [],
 'tt1840933': [],
 'tt4163644': [],
 'tt8245936': [],
 'tt1479361': [],
 'tt2871112': [],
 'tt6680742': [],
 'tt1472583': [],
 'tt3102382': [],
 'tt5559528': [],
 'tt6460858': [],
 'tt4903334': [],
 'tt2268138': [],
 'tt4532764': [],
 'tt10200062': [],
 'tt2302877': [],
 'tt3393702': [],
 'tt3741188': [],
 'tt4345774': [],
 'tt9766280': [],
 'tt5236900': [],
 'tt8685584': [],
 'tt7153718': [],
 'tt1887955': [],
 'tt2215639': [],
 'tt7394536': [],
 'tt2735362': [],
 'tt5208740': [],
 'tt2211191': [],
 'tt6848414': [],
 'tt4361138': [],
 'tt6638398': [],
 'tt5299464': [],
 'tt10071984': [],
 'tt6054710': [],
 'tt1949554': [],
 'tt6808298': [],
 'tt4460430': [],
 'tt3451096': [],
 'tt7431594': [],
 'tt1957867': [],
 'tt2856272': [],
 'tt2535488': [],
 'tt7189206': [],
 'tt3557730': [],
 'tt4602326': [],
 'tt7526288': [],
 'tt2345737': [],
 'tt6089700': [],
 'tt7880474': [],
 'tt3500476': [],
 'tt8857610': [],
 'tt1733531': [],
 'tt8517648': [],
 'tt7886848': [],
 'tt3574396': [],
 'tt3450596': [],
 'tt5196436': [],
 'tt7089882': [],
 'tt5224270': [],
 'tt0929742': [],
 'tt2511022': [],
 'tt8800984': [],
 'tt3326152': [],
 'tt4799672': [],
 'tt5179324': [],
 'tt2239824': [],
 'tt2718864': [],
 'tt5628792': [],
 'tt6926486': [],
 'tt6066948': [],
 'tt2526548': [],
 'tt4119414': [],
 'tt3184608': [],
 'tt10194058': [],
 'tt5540194': [],
 'tt1623759': [],
 'tt2580928': [],
 'tt3906116': [],
 'tt3753536': [],
 'tt2659374': [],
 'tt4629032': [],
 'tt1837530': [],
 'tt1331112': [],
 'tt1444680': [],
 'tt8488108': [],
 'tt8581366': [],
 'tt2914232': [],
 'tt7705790': [],
 'tt4800048': [],
 'tt3319018': [],
 'tt4328798': [],
 'tt5162282': [],
 'tt1753476': [],
 'tt10276328': [],
 'tt3235258': [],
 'tt4206222': [],
 'tt2075377': [],
 'tt1897939': [],
 'tt3644664': [],
 'tt2560512': [],
 'tt8376682': [],
 'tt2033328': [],
 'tt8765094': [],
 'tt3487306': [],
 'tt2078753': [],
 'tt1757772': [],
 'tt4317606': [],
 'tt5816046': [],
 'tt5706876': [],
 'tt2119455': [],
 'tt9047846': [],
 'tt2589070': [],
 'tt3598834': [],
 'tt5169570': [],
 'tt2447266': [],
 'tt6101460': [],
 'tt1961563': [],
 'tt2186773': [],
 'tt2973480': [],
 'tt2232594': [],
 'tt3787796': [],
 'tt2207050': [],
 'tt2989350': [],
 'tt3685554': [],
 'tt5088906': [],
 'tt2962858': [],
 'tt5583554': [],
 'tt3959836': [],
 'tt5553962': [],
 'tt4282458': [],
 'tt0811021': [],
 'tt3313072': [],
 'tt5742484': [],
 'tt4176556': [],
 'tt4139382': [],
 'tt6150012': [],
 'tt1564771': [],
 'tt5812240': [],
 'tt4425148': [],
 'tt7166478': [],
 'tt2075246': [],
 'tt7950028': [],
 'tt3423384': [],
 'tt4742190': [],
 'tt1676180': [],
 'tt5772556': [],
 'tt3865250': [],
 'tt2949372': [],
 'tt4577042': [],
 'tt3915006': [],
 'tt1704578': [],
 'tt2232404': [],
 'tt1999841': [],
 'tt7658228': [],
 'tt4746586': [],
 'tt1583393': [],
 'tt3652620': [],
 'tt7117354': [],
 'tt2493956': [],
 'tt1167638': [],
 'tt3039932': [],
 'tt3814678': [],
 'tt5751904': [],
 'tt8190820': [],
 'tt7481246': [],
 'tt2974416': [],
 'tt1627937': [],
 'tt3956192': [],
 'tt4610162': [],
 'tt5580778': [],
 'tt1116183': [],
 'tt5316974': [],
 'tt4339078': [],
 'tt5751998': [],
 'tt6139764': [],
 'tt5289656': [],
 'tt2388629': [],
 'tt6285376': [],
 'tt10466908': [],
 'tt1945037': [],
 'tt2460764': [],
 'tt6141718': [],
 'tt1753730': [],
 'tt1658078': [],
 'tt2827694': [],
 'tt2044734': [],
 'tt2372391': [],
 'tt5556110': [],
 'tt2375318': [],
 'tt5949094': [],
 'tt1639083': [],
 'tt9684456': [],
 'tt5083604': [],
 'tt5022560': [],
 'tt3688948': [],
 'tt2663744': [],
 'tt1612317': [],
 'tt8870442': [],
 'tt1891901': [],
 'tt7308102': [],
 'tt5545880': [],
 'tt5674962': [],
 'tt7304084': [],
 'tt5158538': [],
 'tt7485602': [],
 'tt1835955': [],
 'tt4030502': [],
 'tt5784250': [],
 'tt6616538': [],
 'tt6036052': [],
 'tt1753593': [],
 'tt6759686': [],
 'tt4843762': [],
 'tt2536122': [],
 'tt6490604': [],
 'tt5194438': [],
 'tt5092172': [],
 'tt6419730': [],
 'tt8164278': [],
 'tt2321499': [],
 'tt3150700': [],
 'tt1942116': [],
 'tt8778966': [],
 'tt3091138': [],
 'tt2513864': [],
 'tt2041385': [],
 'tt5702246': [],
 'tt3658420': [],
 'tt7794028': [],
 'tt5906392': [],
 'tt4138004': [],
 'tt2139565': [],
 'tt5338770': [],
 'tt2130147': [],
 'tt2991318': [],
 'tt3129954': [],
 'tt6449354': [],
 'tt1686027': [],
 'tt9351598': [],
 'tt2526556': [],
 'tt2085829': [],
 'tt10383290': [],
 'tt1600701': [],
 'tt6100670': [],
 'tt5531032': [],
 'tt4120826': [],
 'tt10393846': [],
 'tt3244888': [],
 'tt2922076': [],
 'tt8767958': [],
 'tt3216386': [],
 'tt6217790': [],
 'tt3657530': [],
 'tt1772412': [],
 'tt1802810': [],
 'tt2232656': [],
 'tt3508238': [],
 'tt1935909': [],
 'tt8875366': [],
 'tt5706292': [],
 'tt3610732': [],
 'tt1677514': [],
 'tt10244472': [],
 'tt2241487': [],
 'tt1907721': [],
 'tt0818098': [],
 'tt9271350': [],
 'tt2706332': [],
 'tt1153546': [],
 'tt6294496': [],
 'tt5111844': [],
 'tt4170792': [],
 'tt6695468': [],
 ...}

In [15]:
for i in range(0,len(movie_actor_pairs)):
    if movie_actor_pairs[i][0] in movie_dict.keys():
        movie_dict[movie_actor_pairs[i][0]].append(movie_actor_pairs[i][1])
    else:
        continue 
movie_dict
#now the dictionary is populated with name codes

{'tt2190760': ['nm0869718', 'nm0209782', 'nm0880054', 'nm2168632'],
 'tt8586736': ['nm9920369',
  'nm9920371',
  'nm9920373',
  'nm9285272',
  'nm9920372',
  'nm9920370',
  'nm1166509'],
 'tt10079698': ['nm1957881', 'nm0356994', 'nm0583951', 'nm0683334'],
 'tt6043298': ['nm3792384', 'nm2454293', 'nm8420520', 'nm3434061'],
 'tt2596196': ['nm4270173',
  'nm3209574',
  'nm0780934',
  'nm2455305',
  'nm1438874',
  'nm4954733'],
 'tt7639224': ['nm9423805'],
 'tt1692478': ['nm1981440', 'nm3014031', 'nm0000616', 'nm0232800'],
 'tt4187650': ['nm3946320',
  'nm1472197',
  'nm4885900',
  'nm7181255',
  'nm7181256',
  'nm7181257',
  'nm5843593',
  'nm6902031'],
 'tt4660552': ['nm7305209',
  'nm4975995',
  'nm7305206',
  'nm3402448',
  'nm7305207',
  'nm7305208',
  'nm8945875'],
 'tt8539500': ['nm5481717', 'nm9898712', 'nm9898710', 'nm1293264'],
 'tt4652650': ['nm0266824', 'nm1404408', 'nm0001057'],
 'tt8135000': ['nm5703727', 'nm5954679', 'nm9695497', 'nm2015020'],
 'tt1703237': ['nm4017346', 'nm4010537', 'nm4017528', 'nm2021495'],
 'tt3163224': ['nm4856223', 'nm0228878', 'nm0117464', 'nm0426038'],
 'tt9807524': ['nm8979310',
  'nm10488215',
  'nm10488217',
  'nm10488218',
  'nm10488214',
  'nm10488216'],
 'tt5994872': ['nm8113878', 'nm10165503', 'nm10165504', 'nm8911826'],
 'tt1667417': ['nm0001002', 'nm2979225', 'nm0000514', 'nm1677710'],
 'tt4939892': ['nm0828654', 'nm1916821', 'nm0425334', 'nm1651213'],
 'tt4425430': ['nm3376756', 'nm2876934', 'nm2147519'],
 'tt6453208': ['nm8727336'],
 'tt8047210': ['nm1502469', 'nm2527686', 'nm0308289', 'nm6792764'],
 'tt5884950': ['nm4389267', 'nm7017710', 'nm4149224'],
 'tt7552794': ['nm9371027', 'nm9371024', 'nm9378576', 'nm9371025'],
 'tt5171664': ['nm5637868',
  'nm7704240',
  'nm7704241',
  'nm7704239',
  'nm6817884'],
 'tt3551626': ['nm6308082', 'nm6308079', 'nm6308078'],
 'tt7208916': ['nm3999240', 'nm9174577'],
 'tt3590304': ['nm3881731', 'nm4344196', 'nm6350443', 'nm3583561'],
 'tt4829166': ['nm3765372',
  'nm5036083',
  'nm4131249',
  'nm2173516',
  'nm1569766',
  'nm0224940',
  'nm0969230',
  'nm1953787',
  'nm1716895'],
 'tt7074750': ['nm9095959', 'nm6926569', 'nm9095956', 'nm9095955'],
 'tt3594928': ['nm4368440'],
 'tt5479700': ['nm0368017', 'nm1368152', 'nm6012805', 'nm1954434'],
 'tt1964459': ['nm0385032',
  'nm0001679',
  'nm0712262',
  'nm0470182',
  'nm0011276',
  'nm0500333',
  'nm2470811',
  'nm0426648',
  'nm2057822'],
 'tt9177746': ['nm6999107', 'nm6999103', 'nm7101829', 'nm7055028'],
 'tt3107024': ['nm5861399'],
 'tt8201170': ['nm3170207', 'nm1404824', 'nm4955720', 'nm6161516'],
 'tt3775086': ['nm0763216', 'nm2143950', 'nm6620696', 'nm1201777'],
 'tt3679060': ['nm1303433', 'nm3315894', 'nm3668216', 'nm2596365'],
 'tt2064905': ['nm4040725', 'nm3932444', 'nm0478810', 'nm2453033'],
 'tt2565974': ['nm4360357', 'nm3388727', 'nm3322260', 'nm3776675'],
 'tt1753965': ['nm0361757', 'nm0644856', 'nm0457215', 'nm0766233'],
 'tt2331169': ['nm0079868', 'nm4443538', 'nm1272841', 'nm6128366'],
 'tt5302532': ['nm2773584',
  'nm7818613',
  'nm6206951',
  'nm7818614',
  'nm0623164',
  'nm7042054'],
 'tt2392990': ['nm6208194', 'nm6208199', 'nm5982920'],
 'tt2522082': ['nm0077257', 'nm2663338', 'nm0118345', 'nm0015255'],
 'tt4645156': ['nm7550362', 'nm1702781', 'nm2140346', 'nm5842342'],
 'tt6987074': ['nm1369247'],
 'tt7365948': ['nm1953277'],
 'tt1732676': ['nm4098728', 'nm3041613', 'nm4098053', 'nm4097898'],
 'tt7288646': ['nm7419686'],
 'tt7872636': ['nm0317457', 'nm0212016', 'nm5871653', 'nm3780453'],
 'tt6568190': ['nm1903507', 'nm6891241', 'nm5862496', 'nm6015347'],
 'tt1424058': ['nm0590907', 'nm1504747', 'nm0613472', 'nm1077107'],
 'tt5830022': ['nm3492497', 'nm3372981', 'nm0222144', 'nm3541847'],
 'tt2511594': ['nm0196723', 'nm0450033', 'nm1903154', 'nm0748736'],
 'tt7031510': ['nm9073918'],
 'tt1631769': ['nm3862517',
  'nm2715611',
  'nm0067895',
  'nm3862426',
  'nm3863122',
  'nm2547176',
  'nm3784971'],
 'tt2720844': ['nm3144904', 'nm1468693', 'nm3445964'],
 'tt6747192': ['nm1729382', 'nm3981484', 'nm8344749', 'nm4174212'],
 'tt4785360': ['nm7400960', 'nm7400959', 'nm7400961', 'nm7400962'],
 'tt3174012': ['nm2590318',
  'nm1967908',
  'nm4948556',
  'nm5932633',
  'nm5932632',
  'nm2401104'],
 'tt5733650': ['nm2446146', 'nm3592837', 'nm3422230', 'nm8167458'],
 'tt1918884': ['nm2120310', 'nm4597807', 'nm0267376', 'nm2551569'],
 'tt3807496': ['nm0521773', 'nm0483562', 'nm0661005', 'nm1827415'],
 'tt4846220': ['nm0380139', 'nm7422963', 'nm7157374', 'nm5306816'],
 'tt4637050': ['nm0211565', 'nm1779469', 'nm0563685', 'nm0405519'],
 'tt6045852': ['nm0911125', 'nm8422812', 'nm1629913', 'nm6274094'],
 'tt7504268': ['nm0009334', 'nm0608371', 'nm0392670', 'nm4420903'],
 'tt8138840': ['nm9697266', 'nm9697267'],
 'tt4396648': ['nm4361363', 'nm7084461', 'nm7084463', 'nm7123698'],
 'tt3615332': ['nm6376314', 'nm3797561', 'nm6376313', 'nm6376310'],
 'tt6917210': ['nm3336353', 'nm2523085', 'nm2678312', 'nm1233777'],
 'tt5352216': ['nm2317624', 'nm6844210', 'nm7025759', 'nm7223347'],
 'tt3662686': ['nm0734558', 'nm3959394', 'nm1576925', 'nm3428866'],
 'tt8081646': ['nm1334235', 'nm7751840', 'nm10276933'],
 'tt2229232': ['nm0197252', 'nm5560980', 'nm5560964', 'nm0264303'],
 'tt8638730': ['nm4751503', 'nm6169670', 'nm7285446', 'nm2593355'],
 'tt3478884': ['nm6515607', 'nm3670008', 'nm0019115', 'nm6515591'],
 'tt1514046': ['nm0002604', 'nm0116461', 'nm0990697', 'nm1801266'],
 'tt3197696': ['nm5955502', 'nm5955507', 'nm5955515', 'nm5955509'],
 'tt3462852': ['nm6213273'],
 'tt6804038': ['nm8937436', 'nm8937437', 'nm8937438', 'nm8937439'],
 'tt6448132': ['nm0911114',
  'nm5328537',
  'nm7962975',
  'nm6220828',
  'nm7832382',
  'nm8922368',
  'nm7243086',
  'nm3277961'],
 'tt5176580': ['nm0788340', 'nm0956146', 'nm1541272', 'nm1443368'],
 'tt6460924': ['nm4350724'],
 'tt7863198': ['nm6786155', 'nm7717825', 'nm3999292', 'nm4125693'],
 'tt5641510': ['nm0042124', 'nm2029519', 'nm0511276', 'nm0868381'],
 'tt2069891': ['nm4692611',
  'nm4470664',
  'nm4470621',
  'nm4691849',
  'nm4692411'],
 'tt8231582': ['nm4958447', 'nm9785059'],
 'tt2308723': ['nm4957360',
  'nm4956979',
  'nm4956559',
  'nm4956234',
  'nm4957525',
  'nm4956744',
  'nm4956944',
  'nm4956864',
  'nm4956912'],
 'tt1943710': ['nm3577098', 'nm3634107', 'nm4468899', 'nm4477772'],
 'tt2610252': ['nm0517054', 'nm5442562', 'nm0208642', 'nm3331160'],
 'tt2371452': ['nm5247389', 'nm5246316', 'nm4788909', 'nm5246995'],
 'tt2363191': ['nm0259326'],
 'tt7619922': ['nm7625048', 'nm9392822', 'nm9390141', 'nm9568738'],
 'tt3511596': ['nm0012078', 'nm0157915', 'nm1021721', 'nm4395604'],
 'tt1954427': ['nm3061531', 'nm2586960', 'nm4495063', 'nm3681876'],
 'tt5432182': ['nm4097812', 'nm4983181', 'nm7898203', 'nm7745729'],
 'tt2173961': ['nm2427547', 'nm4504317', 'nm0624608', 'nm0398582'],
 'tt4677128': ['nm7768341', 'nm1870143', 'nm0184151', 'nm1862168'],
 'tt2430356': ['nm4996781', 'nm5303994', 'nm3989537', 'nm2245402'],
 'tt3715598': ['nm6479745'],
 'tt3483672': ['nm6235813', 'nm5876096', 'nm3683823'],
 'tt2671980': ['nm3672175', 'nm0633947', 'nm3047086', 'nm0122095'],
 'tt4317850': ['nm5605672', 'nm5235005', 'nm1930297', 'nm5261392'],
 'tt6671882': ['nm0004147', 'nm10243463', 'nm0386158', 'nm9297360'],
 'tt9635760': ['nm10415151',
  'nm10415152',
  'nm10415149',
  'nm10415147',
  'nm10415150',
  'nm10415148'],
 'tt4255110': ['nm0580290', 'nm0657734', 'nm2284726', 'nm4741273'],
 'tt5278886': ['nm1485940', 'nm2370937', 'nm7020713', 'nm5558710'],
 'tt2879058': ['nm6132802',
  'nm4702691',
  'nm1989099',
  'nm5650305',
  'nm5393716'],
 'tt6028556': ['nm2208749', 'nm4297208', 'nm3306870', 'nm1713632'],
 'tt1810759': ['nm4254454', 'nm4255093', 'nm4255189', 'nm4255947'],
 'tt4828680': ['nm0945189',
  'nm1845301',
  'nm1030267',
  'nm3211521',
  'nm4771597'],
 'tt1740762': ['nm1711697', 'nm4117390', 'nm0244954', 'nm2474514'],
 'tt2961402': ['nm5712512', 'nm5711380', 'nm4109441'],
 'tt7024716': ['nm8633318', 'nm1035643', 'nm2012595'],
 'tt8735662': ['nm9989866',
  'nm9989867',
  'nm8169661',
  'nm9884914',
  'nm9989863',
  'nm9989864',
  'nm9989865',
  'nm6130772'],
 'tt7244754': ['nm5389126',
  'nm4118392',
  'nm1244898',
  'nm5120794',
  'nm1228805',
  'nm1059365',
  'nm3745153',
  'nm5672049'],
 'tt7128932': ['nm0700312',
  'nm0734156',
  'nm0866870',
  'nm0008940',
  'nm5660709',
  'nm7844198',
  'nm9734651'],
 'tt8651064': ['nm1368731', 'nm5682275', 'nm7896239', 'nm2178111'],
 'tt1832937': ['nm2366465', 'nm4300041', 'nm0442389', 'nm0092141'],
 'tt1785565': ['nm4201450', 'nm4201241', 'nm4200203', 'nm3985410'],
 'tt4599860': ['nm4109519', 'nm5803988', 'nm5366449', 'nm4043379'],
 'tt2507468': ['nm0645683'],
 'tt5741952': ['nm8160275', 'nm8160280', 'nm8593205'],
 'tt3249612': ['nm0000238', 'nm0713267', 'nm0640039', 'nm0799900'],
 'tt3735810': ['nm0004975', 'nm3500582', 'nm0924552', 'nm0502442'],
 'tt2318757': ['nm3643108', 'nm4966468', 'nm1272098', 'nm4955365'],
 'tt6686996': ['nm1423754',
  'nm4703296',
  'nm5587373',
  'nm5234119',
  'nm4562817',
  'nm6649499'],
 'tt4065340': ['nm5031201', 'nm1977876', 'nm0177477', 'nm5377550'],
 'tt1688702': ['nm3402460',
  'nm1588978',
  'nm2647980',
  'nm4041266',
  'nm2772476',
  'nm1737392',
  'nm3205905',
  'nm2973617'],
 'tt2234035': ['nm1102465', 'nm0922183', 'nm4828989', 'nm4939806'],
 'tt4908742': ['nm7493076', 'nm7493077', 'nm7493078', 'nm7493079'],
 'tt4994584': ['nm4086227', 'nm4855119', 'nm3856440', 'nm5225912'],
 'tt6276884': ['nm8606664', 'nm1853497', 'nm6378385'],
 'tt6417014': ['nm6014042', 'nm8704040', 'nm2685927', 'nm0803034'],
 'tt3064854': ['nm5811732'],
 'tt1975888': ['nm4523267'],
 'tt2447808': ['nm0951132',
  'nm3603159',
  'nm4204519',
  'nm4037207',
  'nm3125850',
  'nm0527989',
  'nm3742340'],
 'tt6422322': ['nm4983834', 'nm8849770', 'nm0441740', 'nm8707405'],
 'tt6278226': ['nm3132725', 'nm8636962', 'nm6264176', 'nm0259831'],
 'tt1466572': ['nm0549603', 'nm0565803', 'nm0650739', 'nm1137912'],
 'tt8468004': ['nm2404077',
  'nm9864763',
  'nm6951864',
  'nm4687932',
  'nm1280528',
  'nm8650803'],
 'tt7375198': ['nm5117549', 'nm3462855', 'nm0487609'],
 'tt5559434': ['nm8004194'],
 'tt8774622': ['nm3243400',
  'nm0229923',
  'nm0384503',
  'nm2241099',
  'nm2516299'],
 'tt3197486': ['nm4348318', 'nm2245762', 'nm1623075'],
 'tt4505670': ['nm7850943', 'nm7850941', 'nm7850940', 'nm7850937'],
 'tt9737688': ['nm6483271', 'nm3376756', 'nm10457373', 'nm10457374'],
 'tt3379812': ['nm3761004', 'nm3674752', 'nm3132784'],
 'tt2108631': ['nm4767654',
  'nm4767655',
  'nm4767611',
  'nm4767729',
  'nm4771727',
  'nm4772629',
  'nm4772407'],
 'tt6609564': ['nm0001449'],
 'tt8484252': ['nm3264067', 'nm4121152', 'nm5804621', 'nm6154668'],
 'tt4907042': ['nm4150561',
  'nm0457410',
  'nm7463695',
  'nm1059614',
  'nm1690803'],
 'tt5768328': ['nm3266654'],
 'tt6087058': ['nm0396623', 'nm3462119', 'nm7200459', 'nm8460285'],
 'tt3146400': ['nm6326292', 'nm0168824'],
 'tt3530978': ['nm0000460', 'nm1385871', 'nm2095679', 'nm0912879'],
 'tt2536780': ['nm5396857',
  'nm5396587',
  'nm5397165',
  'nm5397424',
  'nm5396706',
  'nm5397345',
  'nm5397578',
  'nm5406139',
  'nm5396958'],
 'tt2385760': ['nm3014740', 'nm3726577', 'nm2584277'],
 'tt9615278': ['nm10636372', 'nm0758005', 'nm10636373', 'nm10636374'],
 'tt6967644': ['nm0072435', 'nm0150255', 'nm5256992', 'nm1789263'],
 'tt2931376': ['nm0108122', 'nm2803530', 'nm1770421', 'nm2971607'],
 'tt2042507': ['nm4400611', 'nm4592577', 'nm4632027', 'nm3150658'],
 'tt9904328': ['nm0641417', 'nm2917026', 'nm1235280', 'nm3814994'],
 'tt5037692': ['nm3201622'],
 'tt3755992': ['nm4995553', 'nm4560811', 'nm6521829', 'nm5169300'],
 'tt1684935': ['nm2465591', 'nm0162123', 'nm1377449', 'nm0088111'],
 'tt3034146': ['nm6329681', 'nm6329682', 'nm3175916', 'nm2849114'],
 'tt1834889': ['nm2076970', 'nm0176775', 'nm2085931', 'nm2302275'],
 'tt2961406': ['nm2367401'],
 'tt4875150': ['nm2170045', 'nm0532446', 'nm0162535', 'nm0532458'],
 'tt1430064': ['nm0750916', 'nm1462245', 'nm0578184', 'nm0726223'],
 'tt2425892': ['nm5299854', 'nm5298795', 'nm5299489', 'nm4293483'],
 'tt4944906': ['nm4396961', 'nm1314276', 'nm2681303', 'nm0031511'],
 'tt2159662': ['nm5064553'],
 'tt5669898': ['nm5295198', 'nm8103258'],
 'tt1686067': ['nm1871951', 'nm2082567', 'nm0007814', 'nm2759746'],
 'tt5157836': ['nm0000821', 'nm0004429', 'nm0004564'],
 'tt1235522': ['nm0000242', 'nm0000128', 'nm0001876', 'nm0942482'],
 'tt9354412': ['nm10290384', 'nm10290383', 'nm10290386', 'nm10290382'],
 'tt6313010': ['nm0005026', 'nm0196654'],
 'tt6524704': ['nm2782397',
  'nm8582509',
  'nm6881319',
  'nm5053390',
  'nm7633577',
  'nm8775402',
  'nm8783219',
  'nm5198423'],
 'tt1702455': ['nm0000476', 'nm0164594', 'nm0615428', 'nm0311297'],
 'tt1880230': ['nm3306393', 'nm0324380', 'nm4400289'],
 'tt1568898': ['nm1748106'],
 'tt6451472': ['nm8725941', 'nm8725942', 'nm8725943', 'nm8725944'],
 'tt7784788': ['nm0000685', 'nm6835961', 'nm2357552', 'nm0130191'],
 'tt4450624': ['nm2946668', 'nm1081057', 'nm2342340', 'nm0307775'],
 'tt4430958': ['nm2837855',
  'nm7109937',
  'nm7109939',
  'nm4216157',
  'nm7109940',
  'nm7109938'],
 'tt4181732': ['nm6897637', 'nm6945086', 'nm0145951', 'nm0320969'],
 'tt3295774': ['nm6049663'],
 'tt3005388': ['nm5755038', 'nm3544955', 'nm0132773', 'nm5755040'],
 'tt10062650': ['nm1155723', 'nm0579201', 'nm0162535', 'nm0083531'],
 'tt2259318': ['nm0193738', 'nm0139936', 'nm2554223', 'nm0109202'],
 'tt4823486': ['nm3337283', 'nm1115864', 'nm3265766', 'nm6351441'],
 'tt2013264': ['nm4565663',
  'nm4565547',
  'nm4565485',
  'nm4565680',
  'nm0475533',
  'nm3949314',
  'nm4565396',
  'nm4565399',
  'nm1024599'],
 'tt10407924': ['nm2277270', 'nm0785454', 'nm3468937', 'nm6474717'],
 'tt3481170': ['nm6233756'],
 'tt5339116': ['nm7849024', 'nm7849025'],
 'tt2753654': ['nm3027160', 'nm2091633', 'nm5571747', 'nm5570893'],
 'tt6052982': ['nm5814128',
  'nm2688361',
  'nm3608595',
  'nm0014997',
  'nm1794848',
  'nm1165052',
  'nm8429240',
  'nm3256387'],
 'tt4083698': ['nm6814797', 'nm6814799'],
 'tt5842678': ['nm1197845', 'nm2788169', 'nm2314509', 'nm5651478'],
 'tt8377326': ['nm9825962'],
 'tt2113809': ['nm6135105', 'nm5722245', 'nm0000920', 'nm4558280'],
 'tt2264860': ['nm4622030', 'nm4622010', 'nm4622059', 'nm4664136'],
 'tt7158042': ['nm6767239', 'nm3906542', 'nm5869073', 'nm7483552'],
 'tt5421150': ['nm7890128'],
 'tt4399812': ['nm10478517', 'nm0075359', 'nm3439694'],
 'tt8499972': ['nm6136291',
  'nm2793625',
  'nm8560413',
  'nm9880482',
  'nm8560408',
  'nm7249993',
  'nm9880480',
  'nm9880479'],
 'tt1327699': ['nm0602985', 'nm0865302', 'nm0001753', 'nm2859407'],
 'tt8793606': ['nm4699457', 'nm7586141', 'nm5573805', 'nm10025171'],
 'tt6578570': ['nm8810647', 'nm4149224', 'nm7721230'],
 'tt9781614': ['nm1568789',
  'nm7528590',
  'nm6956778',
  'nm7528589',
  'nm10476038',
  'nm7528482',
  'nm10476037',
  'nm7528483'],
 'tt2984034': ['nm3362705', 'nm5732305', 'nm1482686', 'nm5026056'],
 'tt2233170': ['nm2684278', 'nm3453476', 'nm1267108', 'nm0870701'],
 'tt6229100': ['nm8569975', 'nm4212015', 'nm8576546', 'nm0841454'],
 'tt1961423': ['nm0268199', 'nm0001217', 'nm0002084', 'nm0001403'],
 'tt3950002': ['nm2698591', 'nm6695761', 'nm6695762', 'nm6478239'],
 'tt2669348': ['nm4262954', 'nm4420373', 'nm5015351', 'nm4420441'],
 'tt5594668': ['nm2073160', 'nm3270752', 'nm4933513', 'nm0154893'],
 'tt7787880': ['nm9509480', 'nm9509481', 'nm9509479', 'nm9509475'],
 'tt2459364': ['nm3313065',
  'nm5303476',
  'nm5328198',
  'nm5328404',
  'nm3589140'],
 'tt5045776': ['nm7600280',
  'nm7600281',
  'nm7600277',
  'nm7600270',
  'nm7600273',
  'nm4420235',
  'nm7600274'],
 'tt3130298': ['nm1171750', 'nm1129829', 'nm0241265', 'nm5034244'],
 'tt6602256': ['nm8821957'],
 'tt6158254': ['nm3250321', 'nm8505926', 'nm4169778', 'nm8484828'],
 'tt9546082': ['nm1832147', 'nm9281797', 'nm1840536', 'nm0439409'],
 'tt1876330': ['nm0005342', 'nm4045867', 'nm1172285', 'nm0004900'],
 'tt2929768': ['nm3431874', 'nm4459626', 'nm3532442', 'nm1633006'],
 'tt6615784': ['nm8120523',
  'nm0014483',
  'nm7191986',
  'nm8835080',
  'nm2310589',
  'nm7804301'],
 'tt5777154': ['nm3266654'],
 'tt2299433': ['nm2611212', 'nm3799549', 'nm0715909', 'nm4394732'],
 'tt4164482': ['nm6883328', 'nm6883332', 'nm6883326', 'nm4748210'],
 'tt10324542': ['nm5728468', 'nm6875061', 'nm10690633'],
 'tt4891240': ['nm2809569', 'nm3720442', 'nm7479645', 'nm7479644'],
 'tt2070597': ['nm0312822', 'nm2024644', 'nm2734006', 'nm2660010'],
 'tt1887784': ['nm0297873', 'nm0621200', 'nm0944985'],
 'tt4361376': ['nm3338909', 'nm3355632', 'nm3462502', 'nm3265508'],
 'tt1313121': ['nm1191255', 'nm0425038', 'nm1188501', 'nm4013514'],
 'tt1714884': ['nm4044764', 'nm3302843'],
 'tt3838918': ['nm0929330', 'nm1340787'],
 'tt2446130': ['nm4741655', 'nm4166902', 'nm3613254', 'nm3288551'],
 'tt10196336': ['nm0080228', 'nm5852404', 'nm0889542'],
 'tt3100404': ['nm5852659', 'nm5852660', 'nm5852661', 'nm5852662'],
 'tt2316355': ['nm5038023', 'nm3085453', 'nm4969524', 'nm5038322'],
 'tt1731990': ['nm1924042', 'nm0075003', 'nm0458039', 'nm0391105'],
 'tt2456514': ['nm4292260', 'nm2860443', 'nm0857726', 'nm5324904'],
 'tt3851412': ['nm4468297', 'nm5429114', 'nm0461632', 'nm3125803'],
 'tt2567942': ['nm5412237', 'nm5412165', 'nm5413894', 'nm5414681'],
 'tt4244332': ['nm4273260',
  'nm0013927',
  'nm4811165',
  'nm2889009',
  'nm1635148',
  'nm0942682'],
 'tt2265640': ['nm0762191', 'nm0743931', 'nm0950379', 'nm0231999'],
 'tt1780821': ['nm4190857', 'nm3801078', 'nm4189215'],
 'tt5910344': ['nm2633535', 'nm1842974', 'nm0644406', 'nm0000995'],
 'tt3107494': ['nm5850533',
  'nm5852137',
  'nm5844531',
  'nm5844885',
  'nm5834788',
  'nm5880005'],
 'tt2211144': ['nm5219231',
  'nm1578691',
  'nm5219228',
  'nm0141107',
  'nm5219269',
  'nm1721191',
  'nm5219268',
  'nm5219249'],
 'tt4025900': ['nm6759350', 'nm6759349', 'nm6759351', 'nm6759347'],
 'tt2294479': ['nm4750384', 'nm4751461', 'nm4900395', 'nm4943487'],
 'tt3971304': ['nm6829659'],
 'tt10270164': ['nm7452708'],
 'tt5797456': ['nm1474585', 'nm2081436', 'nm2305611', 'nm2489612'],
 'tt3680788': ['nm1636787', 'nm0001154', 'nm2692477'],
 'tt5880234': ['nm0041066', 'nm2066684', 'nm0209143', 'nm4181758'],
 'tt4948694': ['nm7529986', 'nm7529987', 'nm7529988', 'nm8196723'],
 'tt2229283': ['nm1271297', 'nm1325064', 'nm2582822', 'nm0665414'],
 'tt4898730': ['nm2943468', 'nm5182706', 'nm3996999', 'nm0847562'],
 'tt3905092': ['nm6669995',
  'nm4444700',
  'nm0287156',
  'nm6669996',
  'nm0317561',
  'nm6669997'],
 'tt9460596': ['nm7756026', 'nm7573741', 'nm7691231', 'nm10337014'],
 'tt8130378': ['nm1495491'],
 'tt2923088': ['nm0049346', 'nm2717849', 'nm3488008', 'nm2753020'],
 'tt8805852': ['nm4620019', 'nm10031015', 'nm10031014', 'nm10031013'],
 'tt1330229': ['nm1689927', 'nm1947564', 'nm2114982', 'nm0947338'],
 'tt7238068': ['nm9192214'],
 'tt3346824': ['nm1335996', 'nm0830802', 'nm0726883', 'nm0935015'],
 'tt5006154': ['nm7571339', 'nm7571340', 'nm7571341', 'nm6189391'],
 'tt3396306': ['nm7435472',
  'nm7435470',
  'nm4098438',
  'nm7435471',
  'nm7435473',
  'nm3740136',
  'nm7435474',
  'nm2610893',
  'nm1142276'],
 'tt6389600': ['nm6694696', 'nm8685344', 'nm6237571', 'nm8685343'],
 'tt3284618': ['nm0157098', 'nm0408234', 'nm2594938', 'nm0350125'],
 'tt8459800': ['nm9861046', 'nm9861045'],
 'tt1540803': ['nm0875777', 'nm1615434', 'nm2232394'],
 'tt3317158': ['nm1272759', 'nm6070510', 'nm6070511', 'nm1903561'],
 'tt5127772': ['nm0648174',
  'nm3556079',
  'nm8403637',
  'nm8403638',
  'nm1293177',
  'nm8403640'],
 'tt7238342': ['nm9191791'],
 'tt1965239': ['nm0253708', 'nm3848310', 'nm2902884', 'nm4509754'],
 'tt2634296': ['nm10595683'],
 'tt4964914': ['nm7539837', 'nm7539838', 'nm7539826', 'nm9451219'],
 'tt1754658': ['nm0996620', 'nm3045940', 'nm2125439', 'nm3011433'],
 'tt2845062': ['nm1935978', 'nm2385862', 'nm5627831', 'nm3815067'],
 'tt3186652': ['nm10696954', 'nm10696941', 'nm10696952', 'nm10696948'],
 'tt2356420': ['nm3950775'],
 'tt4789158': ['nm3215425', 'nm8509395', 'nm0591079'],

In [17]:
actors_in_movies_df = pd.DataFrame.from_dict(movie_dict, orient='index')
actors_in_movies_df
#need to get all of those name codes into a list in one column and then use the convert_names function below

,0,1,2,3,4,5,6,7,8,9
tt2190760,nm0869718,nm0209782,nm0880054,nm2168632,None,None,None,None,None,None
tt8586736,nm9920369,nm9920371,nm9920373,nm9285272,nm9920372,nm9920370,nm1166509,None,None,None
tt10079698,nm1957881,nm0356994,nm0583951,nm0683334,None,None,None,None,None,None
tt6043298,nm3792384,nm2454293,nm8420520,nm3434061,None,None,None,None,None,None
tt2596196,nm4270173,nm3209574,nm0780934,nm2455305,nm1438874,nm4954733,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
tt4254746,nm4140106,nm0914320,nm4202823,None,None,None,None,None,None,None
tt1634524,nm3059813,nm2867536,nm1458629,nm3872927,None,None,None,None,None,None
tt5909140,nm8312029,nm8312048,nm8312065,nm8312050,None,None,None,None,None,None
tt6445420,nm2054114,nm4814142,nm1413019,nm1261734,None,None,None,None,None,None
tt4893492,nm6325571,nm5268855,nm7487744,nm7481294,nm7487742,nm7487565,nm6931873,nm5764657,nm4804752,None

In [18]:
actors_in_movies_df['actor_name_codes'] = actors_in_movies_df.values.tolist()
actors_in_movies_df
#created a column with all actor codes in one column in one list

,0,1,2,3,4,5,6,7,8,9,actor_name_codes
tt2190760,nm0869718,nm0209782,nm0880054,nm2168632,None,None,None,None,None,None,"[nm0869718, nm0209782, nm0880054, nm2168632, N..."
tt8586736,nm9920369,nm9920371,nm9920373,nm9285272,nm9920372,nm9920370,nm1166509,None,None,None,"[nm9920369, nm9920371, nm9920373, nm9285272, n..."
tt10079698,nm1957881,nm0356994,nm0583951,nm0683334,None,None,None,None,None,None,"[nm1957881, nm0356994, nm0583951, nm0683334, N..."
tt6043298,nm3792384,nm2454293,nm8420520,nm3434061,None,None,None,None,None,None,"[nm3792384, nm2454293, nm8420520, nm3434061, N..."
tt2596196,nm4270173,nm3209574,nm0780934,nm2455305,nm1438874,nm4954733,None,None,None,None,"[nm4270173, nm3209574, nm0780934, nm2455305, n..."
...,...,...,...,...,...,...,...,...,...,...,...
tt4254746,nm4140106,nm0914320,nm4202823,None,None,None,None,None,None,None,"[nm4140106, nm0914320, nm4202823, None, None, ..."
tt1634524,nm3059813,nm2867536,nm1458629,nm3872927,None,None,None,None,None,None,"[nm3059813, nm2867536, nm1458629, nm3872927, N..."
tt5909140,nm8312029,nm8312048,nm8312065,nm8312050,None,None,None,None,None,None,"[nm8312029, nm8312048, nm8312065, nm8312050, N..."
tt6445420,nm2054114,nm4814142,nm1413019,nm1261734,None,None,None,None,None,None,"[nm2054114, nm4814142, nm1413019, nm1261734, N..."
tt4893492,nm6325571,nm5268855,nm7487744,nm7481294,nm7487742,nm7487565,nm6931873,nm5764657,nm4804752,None,"[nm6325571, nm5268855, nm7487744, nm7481294, n..."

In [19]:
actors_in_movies_df.drop([0,1,2,3,4,5,6,7,8,9], axis=1, inplace=True)
#dropped the unnecessary columns

In [20]:
#need to get all of the nones out of the actor names' lists
for i in range(0, len(actors_in_movies_df)):
    actors_in_movies_df['actor_name_codes'].iloc[i] = list(filter(None,actors_in_movies_df['actor_name_codes'].iloc[i]))

actors_in_movies_df.reset_index(inplace=True)
actors_in_movies_df.rename(columns={'index':'tconst'}, inplace=True)
actors_in_movies_df['actor_names'] = ""
actors_in_movies_df.head()    

#now this dataframe can be passed into the convert names function

       tconst                                   actor_name_codes actor_names
0   tt2190760       [nm0869718, nm0209782, nm0880054, nm2168632]
1   tt8586736  [nm9920369, nm9920371, nm9920373, nm9285272, n...
2  tt10079698       [nm1957881, nm0356994, nm0583951, nm0683334]
3   tt6043298       [nm3792384, nm2454293, nm8420520, nm3434061]
4   tt2596196  [nm4270173, nm3209574, nm0780934, nm2455305, n...

In [21]:
#now we need to do the same thing with producers, which means this eventually needs to be turned into a function
df5_producers = df5[df5['category'] == 'producer']

movie_producer_pairs = list(zip(df5_producers.tconst, df5_producers.nconst))
#list of tuples where 0th element is movie code and 1st element is producer code

producer_codes = list(set(list(df5_producers.tconst)))
producer_dict = {}
for i in range(0, len(producer_codes)):
    producer_dict[producer_codes[i]]=[]
    
for i in range(0,len(movie_producer_pairs)):
    if movie_producer_pairs[i][0] in producer_dict.keys():
        producer_dict[movie_producer_pairs[i][0]].append(movie_producer_pairs[i][1])
    else:
        continue 

producers_in_movies_df = pd.DataFrame.from_dict(producer_dict, orient='index')
producers_in_movies_df

                   0          1          2     3     4     5     6     7     8
tt2190760  nm1455093  nm0179069       None  None  None  None  None  None  None
tt1910548  nm0322946       None       None  None  None  None  None  None  None
tt2915480  nm2198809       None       None  None  None  None  None  None  None
tt8586736  nm9920374       None       None  None  None  None  None  None  None
tt6006538  nm2425469       None       None  None  None  None  None  None  None
...              ...        ...        ...   ...   ...   ...   ...   ...   ...
tt1634524  nm0447314  nm0861196       None  None  None  None  None  None  None
tt5909140  nm8312056  nm8312023  nm8312053  None  None  None  None  None  None
tt5760814  nm8174668  nm8174669       None  None  None  None  None  None  None
tt1625060  nm3288059  nm3855838  nm3852025  None  None  None  None  None  None
tt5328630  nm7839678       None       None  None  None  None  None  None  None

[70319 rows x 9 columns]

In [22]:
producers_in_movies_df['producer_name_codes'] = producers_in_movies_df.values.tolist()
producers_in_movies_df.drop([0,1,2,3,4,5,6,7,8], axis=1, inplace=True)

for i in range(0, len(producers_in_movies_df)):
    producers_in_movies_df['producer_name_codes'].iloc[i] = list(filter(None,producers_in_movies_df['producer_name_codes'].iloc[i]))

producers_in_movies_df.reset_index(inplace=True)
producers_in_movies_df.rename(columns={'index':'tconst'}, inplace=True)
producers_in_movies_df['producer_names'] = ""
producers_in_movies_df.head()

      tconst     producer_name_codes producer_names
0  tt2190760  [nm1455093, nm0179069]
1  tt1910548             [nm0322946]
2  tt2915480             [nm2198809]
3  tt8586736             [nm9920374]
4  tt6006538             [nm2425469]

In [23]:
df6 = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
df6.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [24]:
df6.set_index('tconst', inplace=True)
df6.head(30)
#set index to movie code

,directors,writers
tconst,,
tt0285252,nm0899854,nm0899854
tt0438973,NaN,"nm0175726,nm1802864"
tt0462036,nm1940585,nm1940585
tt0835418,nm0151540,"nm0310087,nm0841532"
tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943
tt0879859,nm2416460,NaN
tt0996958,nm2286991,"nm2286991,nm2651190"
tt0999913,nm0527109,"nm0527109,nm0329051,nm0001603,nm0930684"
tt10003792,nm10539228,nm10539228
tt10005130,nm10540239,"nm5482263,nm10540239"
tt10005378,nm9232888,nm9232888
tt10011102,nm4853354,"nm2215938,nm0219964"
tt1002965,nm0860520,"nm0860520,nm0003521,nm2615300"
tt10036406,nm10553970,NaN
tt10039152,nm6021959,NaN
tt10042456,nm6051389,nm6051389
tt10055770,nm8351963,"nm8628554,nm8351963"
tt10056334,nm10563021,"nm10563034,nm10563021"
tt10059624,nm0472248,"nm0472248,nm10596139,nm10596140"
tt10060902,nm10193497,nm10193497
tt10069122,nm10567789,NaN
tt10076760,nm10351658,nm10351658
tt10079986,nm10572890,NaN
tt10084358,nm10586890,nm10586890
tt10084778,nm7981281,NaN
tt10085524,nm7717515,nm7717515
tt10086906,nm10576024,nm10576024
tt10087396,nm7931526,nm1819081
tt10090588,NaN,NaN
tt10091972,nm5827108,NaN

In [25]:
df6['directors'].fillna('noname', inplace=True)
df6['writers'].fillna('noname', inplace=True)
#fill null values with the string 'noname'

In [26]:
df6['directors'] = df6['directors'].map(lambda x: x.split(','))
df6['writers'] = df6['writers'].map(lambda x: x.split(','))
#turn each director element and writer element into a list instead of one long string

In [27]:
df6['directors_names'] = ""
df6['writers_names'] = ""
df6.head()
#create two empty columns for the names of the directors and writers

,directors,writers,directors_names,writers_names
tconst,,,,
tt0285252,[nm0899854],[nm0899854],,
tt0438973,[noname],"[nm0175726, nm1802864]",,
tt0462036,[nm1940585],[nm1940585],,
tt0835418,[nm0151540],"[nm0310087, nm0841532]",,
tt0878654,"[nm0089502, nm2291498, nm2292011]",[nm0284943],,

In [28]:
for i in range(0, len(df6)):
    df6.directors_names.iloc[i] = []
    for j in df6.directors.iloc[i]:
        if j in person_code_dict.keys():
            df6.directors_names[i].append(person_code_dict[j])
        else:
            df6.directors_names[i].append('noname')
        
df6.head()
#this can be turned into a function

,directors,writers,directors_names,writers_names
tconst,,,,
tt0285252,[nm0899854],[nm0899854],[Tony Vitale],
tt0438973,[noname],"[nm0175726, nm1802864]",[noname],
tt0462036,[nm1940585],[nm1940585],[Bill Haley],
tt0835418,[nm0151540],"[nm0310087, nm0841532]",[Jay Chandrasekhar],
tt0878654,"[nm0089502, nm2291498, nm2292011]",[nm0284943],"[Albert Pyun, Joe Baile, Howie Askins]",

In [29]:
def convert_names(df, column_name, empty_column_name):
    """Takes a dataframe,column name, and empty column name as an argument
       and returns a dataframe where the name codes for directors and writers
       have been converted to a string and placed in the appropriate column."""
    for i in range(0, len(df)):
        df[empty_column_name].iloc[i] = []
        for j in df[column_name].iloc[i]:
            if j in person_code_dict.keys():
                df[empty_column_name][i].append(person_code_dict[j])
            else:
                df[empty_column_name][i].append('noname')
    return df.head()

In [30]:
convert_names(df6, 'writers', 'writers_names')

,directors,writers,directors_names,writers_names
tconst,,,,
tt0285252,[nm0899854],[nm0899854],[Tony Vitale],[Tony Vitale]
tt0438973,[noname],"[nm0175726, nm1802864]",[noname],"[Steve Conrad, Sean Sorensen]"
tt0462036,[nm1940585],[nm1940585],[Bill Haley],[Bill Haley]
tt0835418,[nm0151540],"[nm0310087, nm0841532]",[Jay Chandrasekhar],"[Peter Gaulke, Gerry Swallow]"
tt0878654,"[nm0089502, nm2291498, nm2292011]",[nm0284943],"[Albert Pyun, Joe Baile, Howie Askins]",[Randall Fontana]

In [31]:
df7 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')
df7.head(30)

        tconst  averagerating  numvotes
0   tt10356526            8.3        31
1   tt10384606            8.9       559
2    tt1042974            6.4        20
3    tt1043726            4.2     50352
4    tt1060240            6.5        21
5    tt1069246            6.2       326
6    tt1094666            7.0      1613
7    tt1130982            6.4       571
8    tt1156528            7.2       265
9    tt1161457            4.2       148
10   tt1171222            5.1      8296
11   tt1174693            5.8      2381
12   tt1181840            7.0      5494
13   tt1193623            8.0         5
14   tt1199588            5.5        74
15   tt1204784            5.8         6
16   tt1210166            7.6    326657
17   tt1212419            6.5     87288
18   tt1220911            5.0       941
19   tt1229238            7.4    428142
20   tt1232829            7.2    477771
21   tt1235548            6.6      2725
22   tt1243974            5.4     54646
23   tt1250861            6.2       416
24   tt1258812            4.0        21
25   tt1261945            4.4     69199
26   tt1266037            7.0      1413
27   tt1270291            5.8      5728
28   tt1270761            5.6     44490
29   tt1272886            6.1      6688

In [32]:
df8 = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t')
df8.head(30)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN
10,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
12,19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
13,20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN
14,21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
16,23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
17,24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN
18,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures
19,26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM
20,27,NaN,NR,Musical and Performing Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,28,Elvis goes Hawaiian for the second time in thi...,G,Classics|Comedy|Musical and Performing Arts|Ro...,NaN,Allan Weiss|Anthony Lawrence,"Jun 15, 1966","Jan 7, 2003",NaN,NaN,90 minutes,NaN
22,29,This futuristic adventure stars Lee Majors as ...,PG,Action and Adventure|Drama|Science Fiction and...,Martyn Burke,NaN,"Apr 1, 1981","May 10, 2011",NaN,NaN,101 minutes,NaN
23,33,Howard W. Campbell Jr. (Nick Nolte) is an Amer...,R,Action and Adventure|Drama|Mystery and Suspense,Keith Gordon,NaN,"Nov 1, 1996","Aug 22, 2000",NaN,NaN,114 minutes,NaN
24,34,Director John Woo brings Hong Kong-style marti...,PG-13,Action and Adventure|Mystery and Suspense,John Woo,William Goldman|John Logan|David Marconi|Micha...,"Dec 31, 2000","Nov 7, 2000",NaN,NaN,123 minutes,Paramount Pictures
25,35,"In this film, conjoined twins Blake and Franci...",R,Drama,Michael Polish,Michael Polish|Mark Polish,"Jul 30, 1999","Jan 18, 2000",NaN,NaN,110 minutes,NaN
26,38,You'd think they would know better from their ...,R,Art House and International|Classics|Horror|My...,Roy Ward Baker,Anthony Hinds|John Elder,"Dec 23, 1970","Aug 7, 2001",NaN,NaN,96 minutes,NaN
27,39,A group of stoners at a rock festival is stalk...,R,Horror,David Arquette,David Arquette|Joe Harris,"Apr 20, 2007","Oct 30, 2007",NaN,NaN,97 minutes,After Dark Films/Freestyle Releasing
28,40,John Sayles' Casa de los Babys tells the tale ...,R,Drama,John Sayles,John Sayles,"Sep 19, 2003","Apr 13, 2004",$,"312,136",95 minutes,NaN
29,41,"Ken Loach directs Sweet Sixteen, a gritty dram...",R,Drama,Ken Loach,Paul Laverty,"May 16, 2003","Oct 7, 2003",$,"201,010",106 minutes,Lions Gate Films

In [4]:
df9 = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter='\t', encoding='unicode_escape')
df9.head(30)

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"
10,3,"Cosmopolis"" is a hypnotic examination of our m...",NaN,fresh,Tim Grierson,0,Deadspin,"February 12, 2013"
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013"
13,3,The anger over the injustice of the financial ...,B,fresh,Robert Roten,0,Laramie Movie Scope,"January 7, 2013"
14,3,For those who like their Cronenberg thick and ...,3/4,fresh,Marty Mapes,0,Movie Habit,"October 20, 2012"
15,3,For better or worse - often both - Cosmopolis ...,3/5,fresh,Adam Ross,0,The Aristocrat,"September 27, 2012"
16,3,For one of the smartest films I've seen in a w...,4/5,fresh,Patrick Kolan,0,Shotgun Cinema,"September 26, 2012"
17,3,Its major problem is that it's not cinematic.,B,fresh,Dennis Schwartz,0,Ozus' World Movie Reviews,"September 25, 2012"
18,3,It's fascinating to watch Pattinson actually a...,2/4,rotten,Sean P. Means,0,Salt Lake Tribune,"September 14, 2012"
19,3,A black comedy as dry and deadpan as a bleache...,4/4,fresh,John Beifuss,0,"Commercial Appeal (Memphis, TN)","September 10, 2012"
20,3,While 'Cosmopolis' is mostly emotionless and a...,6/10,fresh,Chris Sawin,0,Examiner.com,"September 7, 2012"
21,3,"In the past, Cronenberg has used such deadpan ...",1/4,rotten,Jason Buchanan,0,TV Guide,"September 7, 2012"
22,3,"... a movie about a sentient zombie, trapped i...",8,fresh,Philip Martin,0,Arkansas Democrat-Gazette,"September 7, 2012"
23,3,Those who said Don DeLillo's book was unfilmab...,2/5,rotten,Mike Scott,0,Times-Picayune,"September 7, 2012"
24,3,"The rapid dialogue is dry and mannered, like a...",2.5/4,rotten,Joe Williams,1,St. Louis Post-Dispatch,"September 6, 2012"
25,3,"Cosmopolis"" is proof that a film can be provoc...",4/10,rotten,Justin Craig,0,FoxNews.com,"September 5, 2012"
26,3,It's fascinating but anti-cinematic and a frus...,NaN,fresh,Roger Moore,0,Tribune News Service,"September 4, 2012"
27,3,Throws heady ideas at you faster than Michael ...,2.5/4,fresh,Eric Melin,0,Scene-Stealers.com,"September 4, 2012"
28,3,A master filmmaker's rumination on capitalism ...,NaN,fresh,Fernando F. Croce,0,CinePassion,"September 4, 2012"
29,3,David Cronenberg takes a wayward shot at makin...,2.0/5,rotten,Tony Macklin,0,tonymacklin.net,"September 2, 2012"

In [34]:
df10 = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
df10.head(20)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"

In [35]:
df11 = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
df11.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [36]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [37]:
df11.start_year.describe()

count    146144.000000
mean       2014.621798
std           2.733583
min        2010.000000
25%        2012.000000
50%        2015.000000
75%        2017.000000
max        2115.000000
Name: start_year, dtype: float64

In [38]:
df11.sort_values(by=['start_year'], ascending=False) 
#sort df11 by year, notice there are years that haven't happened so we would drop all those

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
89506,tt5174640,100 Years,100 Years,2115,NaN,Drama
96592,tt5637536,Avatar 5,Avatar 5,2027,NaN,"Action,Adventure,Fantasy"
2949,tt10300398,Untitled Star Wars Film,Untitled Star Wars Film,2026,NaN,Fantasy
52213,tt3095356,Avatar 4,Avatar 4,2025,NaN,"Action,Adventure,Fantasy"
105187,tt6149054,Fantastic Beasts and Where to Find Them 5,Fantastic Beasts and Where to Find Them 5,2024,NaN,"Adventure,Family,Fantasy"
...,...,...,...,...,...,...
74712,tt4264626,Civil War Life: Shot to Pieces,Civil War Life: Shot to Pieces,2010,79.0,Documentary
14471,tt1716746,Heinrich Kieber - Datendieb,Heinrich Kieber - Datendieb,2010,52.0,Documentary
74692,tt4263706,Mushrooms of America,Mushrooms of America,2010,46.0,"Adventure,Comedy,Documentary"
118065,tt7059624,Zamana,Zamana,2010,140.0,Drama
94000,tt5475580,A Boy and A Girl,A Boy and A Girl,2010,NaN,Romance

In [39]:
df11.set_index('tconst', inplace=True)

In [40]:
df_movies_writers_directors = df11.join(df6, how='inner')
df_movies_writers_directors.head()

,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,directors_names,writers_names
tconst,,,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",[nm0712540],"[nm0023551, nm1194313, nm0347899, nm1391276]",[Harnam Singh Rawail],"[Abrar Alvi, Mahasweta Devi, Gulzar, Anjana Ra..."
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",[nm0002411],[noname],[Mani Kaul],[noname]
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,[nm0000080],"[nm0000080, nm0462648]",[Orson Welles],"[Orson Welles, Oja Kodar]"
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",[nm0611531],[nm0347899],[Hrishikesh Mukherjee],[Gulzar]
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy","[nm0765384, nm0749914]","[nm1360635, nm0749914]","[Valeria Sarmiento, Raoul Ruiz]","[Pía Rey, Raoul Ruiz]"

In [41]:
#lets get the names for actors and producers from before
convert_names(actors_in_movies_df, 'actor_name_codes', 'actor_names')
actors_in_movies_df.set_index('tconst', inplace=True)

In [42]:
convert_names(producers_in_movies_df, 'producer_name_codes', 'producer_names')
producers_in_movies_df.set_index('tconst', inplace=True)

In [43]:
df_movies_writers_directors_actors = df_movies_writers_directors.join(actors_in_movies_df, how='inner')
#join actors with writers and directors

In [44]:
df_entire_crew = df_movies_writers_directors_actors.join(producers_in_movies_df, how='inner')
#join producers with writers, directors, and actors

df7.set_index('tconst', inplace=True)
df_crew_and_ratings = df_entire_crew.join(df7, how='inner')
df_crew_and_ratings.head()
#join ratings with entire crew dataframe and preview dataframe

,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,directors_names,writers_names,actor_name_codes,actor_names,producer_name_codes,producer_names,averagerating,numvotes
tconst,,,,,,,,,,,,,,,
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,[nm0000080],"[nm0000080, nm0462648]",[Orson Welles],"[Orson Welles, Oja Kodar]","[nm0001379, nm0462648, nm0000953, nm0001782]","[John Huston, Oja Kodar, Peter Bogdanovich, Su...","[nm0550881, nm1475059]","[Frank Marshall, Filip Jan Rymsza]",6.9,4517
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy","[nm0765384, nm0749914]","[nm1360635, nm0749914]","[Valeria Sarmiento, Raoul Ruiz]","[Pía Rey, Raoul Ruiz]","[nm0016013, nm0728971, nm0721280, nm1415193]","[Luis Alarcón, Patricia Rivadeneira, Francisco...","[nm0462571, nm1856792]","[Leo Kocking, Andrés Racz]",6.5,119
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",[nm0365480],[nm0365480],[Anthony Harrison],[Anthony Harrison],"[nm0365480, nm0003210, nm0367762, nm0186322]","[Anthony Harrison, C. Ernst Harth, Ellie Harvi...","[nm0153581, nm0448515, nm0908708]","[Ron Chartier, Ingrid Kenning, Jim Wallace]",8.1,263
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,[nm1030585],"[nm1030585, nm1921430]",[Ágnes Kocsis],"[Ágnes Kocsis, Andrea Roberti]","[nm3140529, nm0957482, nm0395827, nm0961563]","[Éva Gábor, István Znamenák, Ákos Horváth, Lia...",[nm1825349],[Ferenc Pusztai],6.8,451
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,[nm0417352],[nm0417352],[Miklós Jancsó],[Miklós Jancsó],"[nm0646037, nm0610960, nm0190691, nm0843658]","[Daniel Olbrychski, Kornél Mundruczó, György C...","[nm1064504, nm0687867]","[József Berger, Dieter Pochlatko]",4.6,64

In [45]:
#clean up the dataframe by dropping unnecessary columns
df_crew_and_ratings.drop(['directors', 'writers', 'actor_name_codes', 'producer_name_codes'],axis=1, inplace=True)
df_crew_and_ratings.head()

,primary_title,original_title,start_year,runtime_minutes,genres,directors_names,writers_names,actor_names,producer_names,averagerating,numvotes
tconst,,,,,,,,,,,
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,[Orson Welles],"[Orson Welles, Oja Kodar]","[John Huston, Oja Kodar, Peter Bogdanovich, Su...","[Frank Marshall, Filip Jan Rymsza]",6.9,4517
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy","[Valeria Sarmiento, Raoul Ruiz]","[Pía Rey, Raoul Ruiz]","[Luis Alarcón, Patricia Rivadeneira, Francisco...","[Leo Kocking, Andrés Racz]",6.5,119
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",[Anthony Harrison],[Anthony Harrison],"[Anthony Harrison, C. Ernst Harth, Ellie Harvi...","[Ron Chartier, Ingrid Kenning, Jim Wallace]",8.1,263
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,[Ágnes Kocsis],"[Ágnes Kocsis, Andrea Roberti]","[Éva Gábor, István Znamenák, Ákos Horváth, Lia...",[Ferenc Pusztai],6.8,451
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,[Miklós Jancsó],[Miklós Jancsó],"[Daniel Olbrychski, Kornél Mundruczó, György C...","[József Berger, Dieter Pochlatko]",4.6,64

In [47]:
df_before2020 = df_crew_and_ratings.loc[df_crew_and_ratings['start_year'] < 2020]
df_before2020.head()

,primary_title,original_title,start_year,runtime_minutes,genres,directors_names,writers_names,actor_names,producer_names,averagerating,numvotes
tconst,,,,,,,,,,,
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,[Orson Welles],"[Orson Welles, Oja Kodar]","[John Huston, Oja Kodar, Peter Bogdanovich, Su...","[Frank Marshall, Filip Jan Rymsza]",6.9,4517
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy","[Valeria Sarmiento, Raoul Ruiz]","[Pía Rey, Raoul Ruiz]","[Luis Alarcón, Patricia Rivadeneira, Francisco...","[Leo Kocking, Andrés Racz]",6.5,119
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",[Anthony Harrison],[Anthony Harrison],"[Anthony Harrison, C. Ernst Harth, Ellie Harvi...","[Ron Chartier, Ingrid Kenning, Jim Wallace]",8.1,263
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,[Ágnes Kocsis],"[Ágnes Kocsis, Andrea Roberti]","[Éva Gábor, István Znamenák, Ákos Horváth, Lia...",[Ferenc Pusztai],6.8,451
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,[Miklós Jancsó],[Miklós Jancsó],"[Daniel Olbrychski, Kornél Mundruczó, György C...","[József Berger, Dieter Pochlatko]",4.6,64